* {
  box-sizing: border-box;
}
/* -------------------------------------------------------------------------- */
/* ------------------------------- VARIABLES -------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* --------------------------------- MIXINS --------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* ----------------------------- GENERAL RULES ------------------------------ */
/* -------------------------------------------------------------------------- */
/* This only works with JavaScript, if it's not present, don't show loader */
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../img/preloader.gif') center no-repeat #fff;
}
::selection {
  color: white;
  background-color: #2fad66;
}
body {
  font-family: 'Bree Serif', serif;
  overflow: hidden;
  background-color: white;
}
@media only screen and (max-width: 1000px) {
  body {
    overflow-y: scroll;
  }
}
a {
  color: #2fad66;
  text-decoration: none;
}
.arrow {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: inline-block;
  margin: auto;
  cursor: pointer;
  transform: translateX(-50%);
}
.arrow i {
  font-size: 200%;
  transition: .2s ease;
  color: #2fad66;
}
.arrow i:hover {
  transition: .2s ease;
  transform: scale(1.5);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.msgerrorForm {
  margin-top: 5px;
  color: #a94442;
}
input[type='number'],
input[type='email'],
input[type='password'],
input[type='text'] {
  -webkit-transition: border .3s;
  -moz-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
  background-color: transparent;
}
.btn-perso {
  color: #2fad66;
  background-color: #3c3c3b;
}
.btn-perso:hover {
  color: #3c3c3b;
  background-color: #2fad66;
  cursor: pointer;
}
.text-little {
  font-size: smaller;
  font-style: italic;
}
[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after {
  margin-left: 0 !important;
}
table {
  width: 100%;
  text-align: center;
}
table th {
  background-color: #2fad66 !important;
  cursor: pointer;
  color: white !important;
}
table td,
table th {
  height: 34px;
}
table tbody tr:nth-child(odd) {
  background-color: #cff09e;
}
.logo {
  display: inline-block;
  transition: .3s ease;
  opacity: 1.0;
}
.logo:hover {
  transition: .3s ease;
  transform: scale(1.1);
}
.logo:hover .iris {
  fill: #00444d !important;
}
.logo:hover .iris-border {
  fill: #00b4cc !important;
}
.logo svg {
  position: relative;
  top: -35px;
  width: auto;
  height: 120px;
  margin-bottom: -90px;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.acc:after {
  content: ' \25B2';
  color: #777;
  font-size: 8px;
  position: absolute;
  margin: 3px 8px;
}
.dec:after {
  content: ' \25BC';
  color: #777;
  font-size: 8px;
  position: absolute;
  margin: 3px 8px;
}
@media only screen and (max-width: 1000px) {
  .arrow {
    left: initial;
    transform: none;
    position: static;
  }
  .slider {
    position: static;
  }
  .relative-center,
  .sensora-article {
    position: static !important;
  }
  .illustration {
    position: static !important;
  }
  .illustration:before {
    content: '';
    display: table;
  }
  section {
    padding-top: 60px;
  }
  .sensora-home article {
    overflow-y: visible;
    height: auto !important;
  }
}
/* -------------------------------------------------------------------------- */
/* --------------------------------- HEADER --------------------------------- */
/* -------------------------------------------------------------------------- */
.sensora-header {
  font-weight: bold;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #2fad66;
  background-color: white;
}
.sensora-header .center {
  position: relative;
  left: 50%;
  display: inline-block;
  height: 45px;
  transform: translateX(-50%);
}
.sensora-header a:not(.logo) {
  position: relative;
  top: -5px;
  margin: 0 15px;
  vertical-align: middle;
  text-decoration: none;
  opacity: .7;
  color: #1c140d;
}
.sensora-header a:not(.logo):hover {
  opacity: 1.0;
  color: #2fad66;
}
.sensora-header .disconnect {
  display: block;
  float: right;
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  vertical-align: middle;
}
.hamburger-circle {
  position: fixed;
  z-index: 2000;
  top: 10px;
  right: 10px;
  padding: 5px;
  color: #2fad66;
  border-radius: 50%;
  display: none;
}
.hamburger i {
  font-size: 200%;
  transform: translateY(2%);
}
.sensora-label {
  font-weight: bold;
  display: block;
  margin: 10px 0;
  opacity: .6;
}
.sensora-input {
  padding: 5px;
  text-align: center;
  opacity: .6;
  border: solid 1px rgba(0, 0, 0, 0);
  border-bottom: solid 2px #2fad66;
}
.sensora-input:focus,
.sensora-input:active {
  opacity: 1.0;
  border: dashed 1px #2fad66;
  border-bottom: solid 2px #2fad66;
  outline: none;
}
.sensora-button {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #3c3c3b;
}
.sensora-button:hover {
  transition: .2s ease;
  background-color: #2fad66;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.needed-warning {
  font-size: 80%;
  position: relative;
  width: 100%;
  padding: 10px;
  opacity: .5;
  color: red;
}
.scrollable {
  padding-right: 15px;
  overflow-y: scroll;
}
.scrollable::-webkit-scrollbar {
  width: 6px;
}
.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: #2fad66;
}
.scrollable::-webkit-scrollbar-thumb:window-inactive {
  opacity: .6;
  background: transparent;
}
.gu-mirror {
  border: 1px dashed #2fad66;
}
@media only screen and (max-width: 1000px) {
  .hamburger-circle {
    display: block;
  }
  .sensora-header {
    height: 100vh;
    width: 100vw;
    border: none;
    display: none;
  }
  .sensora-header .center {
    top: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 150%;
    transform: translate(-50%, -50%);
  }
  .sensora-header a {
    padding: 15px 0;
  }
  .sensora-header .logo {
    display: none;
  }
  .sensora-header a.disconnect {
    position: absolute;
    bottom: 10%;
    top: initial;
    left: 50%;
    margin: 0;
    font-size: 250%;
    transform: translateX(-50%);
  }
}
/* -------------------------------------------------------------------------- */
/* ---------------------------------- HOME ---------------------------------- */
/* -------------------------------------------------------------------------- */
.section h2 {
  font-size: 310%;
  margin-top: 0;
}
.section p,
.section a {
  font-size: 100%;
}
.text {
  width: 70%;
  padding: 0 25px;
}
.sensora-article {
  margin-top: 373px;
  width: 100%;
}
.sensora-article .relative-center {
  display: flex;
  padding: 50px 25px;
  justify-content: space-around;
}
.sensora-home {
  text-align: center;
  color: #545454;
}
.sensora-home p {
  font-size: 120%;
}
.sensora-home h1 {
  font-size: 300%;
  color: #2fad66;
}
.sensora-home article {
  height: 550px;
}
.sensora-home .illustration {
  position: absolute;
  z-index: -50;
  top: 40px;
  width: 100%;
  height: 333px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1000px) {
  .sensora-home .illustration {
    position: static !important;
    height: 200px;
  }
}
.sensora-home .illustration-neighborhood {
  background-image: url('../img/Neighborhood.jpg');
  position: absolute;
  z-index: -50;
  top: 40px;
  width: 100%;
  height: 333px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1000px) {
  .sensora-home .illustration-neighborhood {
    position: static !important;
    height: 200px;
  }
}
.sensora-home .illustration-neocity {
  background-image: url('../img/neocity.jpg');
  position: absolute;
  z-index: -50;
  top: 40px;
  width: 100%;
  height: 333px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1000px) {
  .sensora-home .illustration-neocity {
    position: static !important;
    height: 200px;
  }
}
.sensora-home .illustration-fall {
  background-image: url('../img/fall.jpg');
  position: absolute;
  z-index: -50;
  top: 40px;
  width: 100%;
  height: 333px;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1000px) {
  .sensora-home .illustration-fall {
    position: static !important;
    height: 200px;
  }
}
.sensora-home .relative-center {
  width: 60%;
}
@media only screen and (max-width: 1000px) {
  .sensora-home .relative-center {
    top: initial;
    left: initial;
    width: 100%;
    margin: 0;
    transform: none;
  }
  .sensora-home .sensora-article {
    height: auto;
    margin-top: 20px;
  }
  .section h2 {
    margin-top: 0 !important;
    font-size: 150%;
  }
}
#section-intro h2 {
  font-size: 200%;
  font-weight: normal;
}
.logo-container {
  width: 100vw;
  margin: 100px 0;
}
.logo-typo {
  position: relative;
  width: 720px;
  height: 250px;
  margin: auto;
  background-image: url('../img/Typo.png');
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1000px) {
  .logo-typo {
    width: 75%;
    height: 100px;
    background-size: contain;
  }
  #section-intro h2 {
    width: 80%;
    margin: auto;
    font-size: 140%;
  }
}
#section-illustrate .relative-center {
  display: block;
}
#section-illustrate .sensora-article {
  display: block;
  margin-top: 0;
}
#section-illustrate .sensora-article .text {
  margin: auto;
}
#section-illustrate h3 {
  font-size: 140%;
}
#section-illustrate .warning {
  color: orange;
}
#section-illustrate .comparison {
  width: 70%;
  margin: 30px auto;
}
#section-illustrate .comparison h4 {
  margin-top: 50px;
  font-size: 140%;
}
#section-illustrate .comparison hr {
  background-color: #2fad66;
  border-color: #2fad66;
  margin-bottom: 30px;
}
#section-illustrate .comparison .content {
  display: flex;
  justify-content: space-between;
}
#section-illustrate .comparison .option {
  width: 45%;
}
.tired-picture {
  margin: 30px auto;
  height: 96px;
  width: 96px;
  background-image: url('../img/tired.png');
  background-size: contain;
}
#section-explanation article {
  position: relative;
  top: 373px;
}
#section-explanation ul {
  display: flex;
  list-style-type: none;
}
#section-explanation h2 {
  margin-top: -250px;
  font-size: 150%;
  margin-bottom: 10px;
}
#section-explanation .relative-center {
  display: block;
}
#section-explanation .caption {
  font-size: 100%;
  margin-bottom: 30px;
}
#section-explanation .explanation {
  margin: auto;
  padding-left: 0;
  width: 420px;
}
#section-explanation .explanation-tier h4 {
  margin: 0;
  height: 56px;
  line-height: 56px;
  color: #2fad66;
  font-size: 200%;
}
#section-explanation .explanation-tier p {
  display: none;
}
#section-explanation .active p {
  display: block !important;
}
#section-explanation .slider {
  position: absolute;
  left: 0;
  height: 350px !important;
}
#section-explanation .slider .fp-tableCell {
  padding: 10px 0 !important;
  height: 350px !important;
}
#section-explanation .slide p {
  position: static;
  padding: 0 100px;
  font-size: 140%;
  transform: none;
}
#section-explanation .fp-controlArrow {
  border-width: 25px 25px 25px;
}
#section-explanation .fp-controlArrow.fp-prev {
  border-right-color: #93e2b6;
}
#section-explanation .fp-controlArrow.fp-next {
  border-left-color: #93e2b6;
}
#section-explanation p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#section-explanation .mb-explanation {
  display: none;
}
#section-explanation .mb-explanation p {
  position: static;
  transform: none;
}
@media only screen and (max-width: 1000px) {
  #section-explanation .slider {
    display: none;
  }
  #section-explanation .mb-explanation {
    display: block;
  }
  #section-explanation .footnote {
    transform: none;
    padding: 0 30px;
    position: static;
  }
}
.footer {
  font-family: sans-serif;
  padding: 20px;
  background-color: #1c140d;
}
.footer a:hover {
  color: white;
}
.footer .lists {
  font-weight: bold;
  width: 80%;
  margin: auto;
  padding: 0 50px;
}
.footer ul {
  display: flex;
  margin: 0;
  padding: 10px 50px;
  list-style-type: none;
  text-align: left;
  justify-content: space-between;
}
.footer .design {
  color: #898987;
}
.footer .copyright,
.footer .design {
  font-weight: normal;
  padding: 3px;
}
.footer .ephec {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  background-image: url('../img/ephec_min.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 100px;
}
.footer .copyright {
  font-size: 90%;
}
.coming-soon {
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url('../img/coming_soon_green.jpg');
}
@media only screen and (max-width: 1000px) {
  .footer .lists {
    padding: 10px;
  }
  .footer ul {
    padding: 10px 0;
    flex-direction: column;
    text-align: center;
  }
  .footer ul li {
    padding: 5px 0;
  }
  .footer .design {
    padding: 0 30px;
  }
}
/* -------------------------------------------------------------------------- */
/* ------------------------------- WHO WHE ARE ------------------------------ */
/* -------------------------------------------------------------------------- */
.student-logo {
  width: 128px;
  height: 128px;
  margin: auto;
  background-image: url('../img/graduate.png');
  background-repeat: no-repeat;
}
.physics-logo {
  width: 128px;
  height: 128px;
  margin: auto;
  background-image: url('../img/physics.png');
  background-repeat: no-repeat;
}
.relative-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.full-content {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #2fad66;
}
#connection {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #2fad66;
}
#connection svg {
  position: absolute;
  z-index: 5;
  top: 43.3333%;
  left: 50%;
  height: 520px;
  margin-top: 76.5px;
  transform: translate(-50%, -50%);
}
#connection .login {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-top: 35px;
  transform: translate(-50%, -50%);
  text-align: center;
}
#connection .login label {
  font-weight: bold;
  display: block;
  margin: 10px 0;
  opacity: .6;
}
#connection .login input {
  width: 80%;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  opacity: .6;
  border: solid 1px rgba(0, 0, 0, 0);
  border-bottom: solid 2px #2fad66;
}
#connection .login input:focus,
#connection .login input:active {
  opacity: 1.0;
  border: dashed 1px #2fad66;
  border-bottom: solid 2px #2fad66;
  outline: none;
}
#connection .login .toSubscription {
  font-weight: bold;
  width: 100%;
}
#connection .login .toSubscription a {
  font-size: 80%;
  display: inline-block;
  margin: auto;
  margin-top: 10px;
  opacity: .5;
  border-bottom: 2px dashed #2fad66;
}
#connection .login .toSubscription a:hover {
  opacity: 1.0;
}
#connection .login button {
  width: 100% !important;
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #3c3c3b;
}
#connection .login button:hover {
  transition: .2s ease;
  background-color: #2fad66;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#connection .login-circle {
  overflow: hidden;
  width: 400px;
  height: 380px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#connection #who {
  font-size: x-large;
  position: absolute;
  top: 90%;
  left: 50%;
  padding: 10px;
  transition: .2s ease;
  transform: translate(-50%, -50%);
  color: white;
}
#connection #who:hover {
  transition: .2s ease;
  border-bottom: 2px solid white;
}
#inscription {
  font-weight: bold;
  text-align: center;
  background-image: url('../img/hot-air-balloon.jpg');
  background-repeat: repeat;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #2fad66;
}
#inscription .inscription-container {
  position: absolute;
  top: 55%;
  right: 10%;
  width: 400px;
  padding: 30px 15px;
  transform: translateY(-50%);
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#inscription .inscription-container .title {
  position: relative;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -130px;
  transform: translateX(-50%);
  color: white;
  border-radius: 50%;
  background-color: #1c140d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#inscription .inscription-container .title h1 {
  line-height: 200px;
  display: inline-block;
  margin: 0;
}
#inscription .element {
  font-size: 80%;
  margin: 20px 0;
}
#inscription label {
  font-weight: bold;
  display: block;
  margin: 10px 0;
  opacity: .6;
}
#inscription input {
  width: 80%;
  padding: 5px;
  text-align: center;
  opacity: .6;
  border: solid 1px rgba(0, 0, 0, 0);
  border-bottom: solid 2px #2fad66;
}
#inscription input:focus,
#inscription input:active {
  opacity: 1.0;
  border: dashed 1px #2fad66;
  border-bottom: solid 2px #2fad66;
  outline: none;
}
#inscription .toConfirm {
  display: flex;
  margin: 15px 0;
  padding: 0 5%;
}
#inscription .toConfirm .element {
  width: 50%;
  margin: 0;
}
#inscription .toConfirm .element label {
  height: 30%;
}
#inscription .toConfirm .element input {
  height: auto;
}
#inscription button {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 15px;
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #3c3c3b;
}
#inscription button:hover {
  transition: .2s ease;
  background-color: #2fad66;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.left-menu {
  font-weight: bold;
  position: relative;
  float: left;
  width: 250px;
  height: 100vh;
  margin: 0;
  padding: 40px 0 15px 0;
  text-align: center;
  list-style-type: none;
  color: white;
  background-color: #2fad66;
}
.left-menu ul {
  font-weight: bold;
  width: 250px;
  margin: 0;
  padding: 15px 0 15px 0;
  list-style-type: none;
  color: white;
  background-color: #2fad66;
}
.left-menu li {
  height: auto;
  line-height: 35px;
  vertical-align: middle;
  width: 88%;
  margin: 15px 15px;
  padding: 0 20px;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}
.left-menu li.noBorder {
  border: none;
}
.left-menu li:hover {
  cursor: pointer;
  transition: .2s ease;
  color: #2fad66;
  background-color: white;
}
.left-menu li.active {
  color: #2fad66;
  background-color: white;
}
.left-menu li.active a {
  color: #2fad66;
}
.left-menu select {
  isplay: inline-block;
  margin: 10px 0;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #2fad66;
  color: white;
  border-bottom: 1px solid white;
}
.left-menu a {
  color: white;
}
.left-menu .button-icon {
  display: none;
}
.toggle {
  width: 35px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.toggle:hover {
  cursor: pointer;
}
.toggle i {
  font-size: 220%;
}
.measures {
  position: absolute;
  z-index: -5;
  float: left;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding-left: 250px;
}
.measures select[name='filtre'] {
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background-color: #2fad66;
  color: white;
}
.measures .content {
  width: 100%;
  height: 100vh;
  padding: 85px;
}
.measures .content .sensora-box {
  overflow-y: scroll;
  padding: 40px;
  height: 100%;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}
.measures .graph {
  width: 80%;
}
.measures #myChart {
  display: block;
  width: 100% !important;
  margin: auto;
}
.measures .data .tmp {
  display: flex;
  justify-content: space-between;
}
.measures .data button {
  padding: 10px 15px;
  color: white;
  border: none;
  background-color: #2fad66;
}
.measures .data button:hover {
  cursor: pointer;
  background-color: orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.contentMenu {
  margin-top: 0;
  padding: 5px 0 20px 0;
  background-color: white;
  list-style-type: none;
}
.contentMenu li {
  display: inline;
  padding: 10px 20px;
  cursor: pointer;
}
.contentMenu li:hover,
.contentMenu li.active {
  background-color: #2fad66;
}
.contentMenu li:hover a,
.contentMenu li.active a {
  color: white;
}
section#administration {
  color: #545454;
}
section#administration #contenuMessage {
  padding: 15px;
  text-align: center;
  background-color: #cff09e;
}
section#administration .element {
  margin-bottom: 20px;
}
section#administration textarea {
  width: 100% !important;
  text-align: left;
}
section#administration .answer {
  font-weight: bold;
}
section#administration .answer:hover {
  cursor: pointer;
}
section#administration .answer.answerYet {
  color: #3c763d;
}
section#administration .answer.answerYet:hover {
  background-color: #dff0d8;
}
section#administration .answer.answerNot {
  color: #a94442;
}
section#administration .answer.answerNot:hover {
  background-color: #f2dede;
}
section#contact .element {
  margin-bottom: 20px;
  text-align: center;
}
section#contact textarea {
  width: 100%;
  text-align: left !important;
}
section#shop {
  width: 100%;
  height: 100vh;
  color: #545454;
}
section#shop ul {
  list-style-type: none;
}
section#shop .colonne {
  position: relative;
  float: left;
  height: 100vh;
}
section#shop .colonne.colonne-sensoward {
  width: 60%;
  background-color: #cff09e;
}
section#shop .colonne.colonne-modules {
  width: 20%;
}
section#shop .colonne.colonne-prix {
  width: 20%;
}
section#shop .btn-group {
  text-align: center;
}
section#shop .btn-group div {
  width: 50px;
  height: 50px;
  color: white;
  background-color: #2fad66;
  display: inline-block;
}
section#shop .btn-group.special {
  margin-right: 60px;
}
section#shop .btn {
  background-color: #2fad66;
  color: white;
  cursor: pointer;
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
}
section#shop .btn:hover {
  background-color: orange;
}
section#shop .btn:hover.noClick {
  background-color: #2fad66;
  cursor: auto;
}
section#shop .btn.btn-delete {
  color: #f2dede;
}
section#shop .btn.btn-delete:hover {
  background-color: #a94442;
}
section#shop .btn.btn-connection {
  position: fixed;
  width: 100%;
  bottom: 0;
}
section#shop .btn.btn-corner {
  position: absolute;
  line-height: 25px;
  width: 25px;
  right: 0;
}
section#shop .etape {
  width: 100%;
  margin-top: 24px;
}
section#shop .etape.ng-hide,
section#shop .etape.ng-hide-remove {
  transition: 0.5s ease-out;
}
section#shop .sensoward {
  width: 500px;
  height: 500px;
  margin: auto;
  border: 1px solid #2fad66;
}
section#shop .sensoward .header-sensoward {
  height: 30%;
  background-color: #2fad66;
  text-align: center;
}
section#shop .sensoward .header-sensoward svg {
  height: 100%;
}
section#shop .sensoward .containerVertical {
  height: 70%;
  background-color: white;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
section#shop .sensoward .containerVertical .module {
  position: relative;
  height: 130px;
  width: 130px;
  line-height: 130px;
  margin: 15px;
}
section#shop .sensoward .containerVertical .msg {
  text-align: center;
  margin: auto;
}
section#shop #modules {
  overflow-y: scroll;
}
section#shop #modules .module {
  margin-bottom: 20px;
}
section#shop .containerVertical {
  width: 100%;
  height: 80vh;
}
section#shop .module {
  line-height: 150px;
  width: 150px;
  margin: auto;
  text-align: center;
  border: 1px dashed #2fad66;
  background-color: white;
}
section#shop .module [class^='flaticon-']:before,
section#shop .module [class*=' flaticon-']:before,
section#shop .module [class^='flaticon-']:after,
section#shop .module [class*=' flaticon-']:after {
  font-size: 40px;
}
section#shop .module:hover {
  cursor: pointer;
  color: orange;
  border-color: orange;
}
section#shop .colonne-sensoward h3,
section#shop .colonne-prix h3 {
  position: relative;
}
section#shop .colonne-sensoward .delete {
  float: right;
  background-color: #f2dede;
  color: #a94442;
}
section#shop .colonne-sensoward .btn-delete [class^='flaticon-']:before,
section#shop .colonne-sensoward .btn-delete [class*=' flaticon-']:before,
section#shop .colonne-sensoward .btn-delete [class^='flaticon-']:after,
section#shop .colonne-sensoward .btn-delete [class*=' flaticon-']:after {
  font-size: 15px !important;
}
section#shop h3 {
  margin: 0 0 20px 0;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px dashed #2fad66;
}
section#shop .grille {
  height: 100vh;
}
section#shop .grille .element {
  width: 50%;
  height: 42.5%;
  float: left;
}
section#shop .grille .element.color {
  background-color: #cff09e;
}
section#shop .presentationSensoward {
  padding: 20px;
}
section#shop .presentationSensoward .sensoward {
  height: 200px !important;
  width: 200px !important;
}
section#shop .presentationSensoward .col-md-6 {
  width: 50%;
}
section#shop .presentationModules {
  padding: 20px;
  background-color: #cff09e;
  margin: auto;
  text-align: center;
}
section#shop .presentationModules div {
  margin: auto;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}
section#shop .detailModule {
  text-align: center;
}
section#shop .item {
  cursor: pointer;
}
section#shop .item.active {
  color: orange;
}
#save {
  position: absolute;
  bottom: 30px;
  text-align: center;
  color: #545454;
  background-color: white;
  border: none;
}
#save:hover {
  color: white;
  background-color: orange;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
form[name='formProfil'] .element {
  padding: 10px;
  margin: 10px 0;
}
form[name='formProfil'] input {
  width: 75%;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #2fad66;
}
form[name='formProfil'] label {
  display: inline-block;
  width: 20%;
}
table {
  padding: 15px 0;
  color: #545454;
}
#showSlider.active {
  border-bottom: 5px solid #caebe2 !important;
}
#showSearch.active {
  border-bottom: 5px solid #185e4b !important;
}
#showLimit.active {
  border-bottom: 5px solid #00da9d !important;
}
.rechercheSimple {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.rechercheSimple select {
  height: 43px;
  margin: 0 !important;
}
.rechercheAvancee {
  background-color: white;
}
.rechercheAvancee #actualise {
  width: 100%;
}
.rechercheAvancee .slider {
  width: 100%;
}
.rechercheAvancee .rowRecherche {
  height: 100px;
  padding: 15px;
}
.rechercheAvancee .rowRecherche.zoneSlider {
  border-left: solid 10px #caebe2;
}
.rechercheAvancee .rowRecherche.zoneSearch {
  border-left: solid 10px #185e4b;
}
.rechercheAvancee .rowRecherche.zoneLimite {
  border-left: solid 10px #00da9d;
}
canvas {
  margin-top: 15px;
}
a {
  cursor: pointer;
}
#communicationUser {
  position: absolute;
  width: 100%;
  z-index: 5;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
#communicationUser.success {
  background-color: #dff0d8;
  color: #3c763d;
}
#communicationUser.erreur {
  background-color: #f2dede;
  color: #a94442;
}
#communicationUser.info {
  background-color: #d9edf7;
  color: #31708f;
}
#communicationUser button {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: auto;
  padding: 5px;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #3c3c3b;
}
#communicationUser button:hover {
  transition: .2s ease;
  color: #a94442;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#communicationUser ul {
  list-style-type: none;
}
.annex-content {
  height: 90vh;
  width: 1200px;
  margin: 5vh auto;
  color: #545454;
}
.annex-content .loader {
  position: absolute;
  height: 90%;
  width: 40%;
  background: url('../img/preloader.gif') center no-repeat #fff;
}
.annex-content section {
  height: 100%;
  width: 50%;
  overflow-y: hidden;
  padding-left: 20px;
}
.annex-content article {
  margin-top: 20px;
  height: 80%;
}
.annex-content h1 {
  margin: 0;
  font-size: 400%;
  text-align: center;
  color: #545454;
  padding-bottom: 15px;
  border-bottom: 1px solid #2fad66;
}
.annex-content h1:after {
  content: '•';
  font-size: 50%;
  display: block;
  color: #2fad66;
}
.annex-content h3 {
  font-size: 100%;
}
.annex-navigation {
  float: left;
  height: 100%;
  width: 25%;
}
.annex-navigation ul {
  position: relative;
  padding: 15px 0;
  border-right: 2px solid #2fad66;
  width: 100%;
  height: 100%;
  margin: 0;
}
.annex-navigation li {
  transition: .3s ease;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding-right: 25px;
  margin: 20px 0;
  text-align: right;
  list-style-type: none;
}
.annex-navigation li a {
  padding: 10px;
  color: #93e2b6;
}
.annex-navigation li a:hover {
  color: #2fad66;
}
.annex-navigation li.active a {
  color: #2fad66;
}
.annex-navigation li.inactive a {
  color: #545454;
}
.annex-navigation li.inactive a:hover {
  cursor: default;
}
.annex-navigation li:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -15px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid #2fad66;
  transition: .3s ease;
}
.annex-navigation li.active:after {
  margin-right: -25px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid #2fad66;
  transition: .3s ease;
}
.annex-navigation li.inactive:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -15px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid #2fad66;
  transition: .3s ease;
}
.annex-navigation li:not(:last-of-type):hover:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -25px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid #2fad66;
  transition: .3s ease;
}
.annex-navigation li.inactive:hover:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: -15px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid #2fad66;
  transition: .3s ease;
}
.annex-navigation li:not(:last-of-type):hover {
  transition: .3s ease;
}
.annex-navigation li:last-of-type a {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 25px;
  width: 135px;
  height: 42px;
  background-size: cover;
  background-image: url('../img/Typo.png');
}
#mailConnection h2 {
  margin-top: 0;
  padding-bottom: 30px;
  text-align: center;
  font-size: 200%;
  border-bottom: 1px solid #545454;
}
#mailConnection fieldset {
  border: 0;
}
#mailConnection label {
  display: inline-block;
  width: 30%;
}
#mailConnection input:not([type="submit"]) {
  width: 65%;
  border: 0;
  border-bottom: 1px solid #545454;
  padding: 5px;
  outline: none;
}
#mailConnection input[type="submit"] {
  cursor: pointer;
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  border: none;
  transition: .2s ease;
}
#mailConnection input[type="submit"]:hover {
  background-color: #2fad66;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: .2s ease;
}
#mails {
  display: none;
}
#mails ul {
  margin: 0;
  list-style-type: none;
}
#mails li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#mails li:nth-of-type(odd) {
  background-color: #2fad66;
  color: white;
}
#mails li:nth-of-type(even) {
  color: #545454;
}
