<div class="route-page">
    <div class="nb-route">Defined routes: {{ routes|length }}</div>
    <table><tbody>
        <tr class="border-bottom">
            <th>Name</th>
            <th>Path</th>
            <th>Controller</th>
            <th>Action</th>
        </tr>
        {% for route in routes %}
            <tr>
                <td>{{route.getName}}</td>
                <td>{{route.getPath}}</td>
                <td>{{route.getController|split('\\')|last}}</td>
                <td>{{route.getAction}}</td>
            </tr>
        {% endfor %}
        <tr><td colspan="4"><button>Add route</button></td></tr>
    </tbody></table>
</div>
