<div class="skf-nav">
    <ul>
        {% for link in links %}
            <li><a href="{{ link.location }}">{{ link.name }}</a></li>
        {% endfor %}
        <!-- <li><a href="/config">Index</a></li>
        <li><a href="/config/routes">Routes</a></li> -->
    </ul>
</div>

<div class="skf-content">
    {{ include(content) }}
</div>
