<div id="content">
<div id="right-content">

    <div class="header">
        <h1>Account activation</h1>
    </div>

    <form action="/account/activate/{ID}" method="post">
        <fieldset><div class="wrapper">
            <input id="act_code" name="act_code" type="text" placeholder="Activation Code" required>
            <i class="material-icons">verified_user</i>
        </div></fieldset>

        <fieldset>
            <input name="submit" type="submit" value="Activate account">

            <div class="error">{ERROR}</div>

            <!-- <div class="alternative">
                <a href="/account/subscribe">Request and account</a> |
                <a href="/account/lost">Lost your password</a>
            </div> -->
        </fieldset>
    </form>

</div>
</div>
