<div ng-app="sensora">
    <section id="administration" ng-controller="administrationCtrl">
        <ul class="left-menu">
            <li ng-class="{true:'active', false:''}[content.type == 'messagerie']" ng-click="changeContent('messagerie')">Messagerie</li>
            <li ng-class="{true:'active', false:''}[content.type == 'raspberry']" ng-click="changeContent('raspberry')">Raspberry</li>
            <li ng-class="{true:'active', false:''}[content.type == 'utilisateur']" ng-click="changeContent('utilisateur')">Utilisateur</li>
        </ul>

        <div class="measures">
            <div class="content">
                <div class="sensora-box">

                    <!-- PLACEMENT TEMPORAIRE -->
                    <form id="mailConnection" action="/mail/authenticate" method="post">
                        <h2>Authentification mail</h2>

                        <fieldset>
                            <label for="username">Adresse</label>
                            <input type="text" name="username" placeholder="username" required>
                        </fieldset>

                        <fieldset>
                            <label for="password">Mot de passe</label>
                            <input type="password" name="password" placeholder="*****" required>
                        </fieldset>

                        <input type="submit" name="Connection" value="Connexion">
                    </form>

                    <div id="mails">
                    </div>
                    <!-- /PLACEMENT -->

                    <!-- VUE SANS CONTENT TYPE-->
                    <div ng-show="content.type==''">

                    </div>

                    <!-- VUE MESSAGERIE-->
                    <div ng-show="content.type=='messagerie'">
                        <table>
                            <tr>
                                <th ng-class="{'acc':(messagerie_sort=='_type'), 'dec':(messagerie_sort=='-_type')}" ng-click="messagerie_sort = messagerie_sort =='_type'?'-_type':'_type'">Type</th>
                                <th ng-class="{'acc':(messagerie_sort=='_sujet'), 'dec':(messagerie_sort=='-_sujet')}" ng-click="messagerie_sort = messagerie_sort =='_sujet'?'-_sujet':'_sujet'">Sujet</th>
                                <th ng-class="{'acc':(messagerie_sort=='_sendTime'), 'dec':(messagerie_sort=='-_sendTime')}" ng-click="messagerie_sort = messagerie_sort =='_sendTime'?'-_sendTime':'_sendTime'">Date d'expédition</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="message in messagerie | orderBy:messagerie_sort">
                                <td>{[{message._type}]}</td>
                                <td>{[{message._sujet}]}</td>
                                <td>{[{message._sendTime}]}</td>
                                <td  class="answer" ng-class="{true:'answerYet', false:'answerNot'}[message._isAnswer=='1']" ng-click="seeMessage($index)"><span class="flaticon flaticon-answer-email-symbol"></span></td>
                            </tr>
                        </table>
                    </div>

                    <!-- VUE REPONSE MESSAGE-->
                    <div ng-show="content.type=='seeMessage'">
                        <div class="element">
                            <label for="sujet">Sujet : </label>
                            <input id="sujet" type="text" name="sujet" ng-model="currentMessage._sujet" class="sensora-input" placeholder="sujet" readonly="true">
                            <label for="type">Type : </label>
                            <input id="type" type="text" name="type" ng-model="currentMessage._type" class="sensora-input" placeholder="type" readonly="true">
                        </div>

                        <div class="element">
                            <div id="contenuMessage">{[{currentMessage._contenu}]}</div>
                        </div>

                        <form name="formAnswer" ng-submit="sendAnswer()">
                            <div class="element">
                                <textarea type="text" name="answer" ng-model="answer" class="sensora-input" placeholder="Réponse au message" required></textarea>
                                <div class="msgErreurForm needed-warning" ng-show="formAnswer.answer.$dirty && formAnswer.answer.$invalid">
                                    Le contenu est obligatoire.
                                </div>
                            </div>

                            <div class="element">
                                <button class="sensora-button" type="submit" ng-disabled="formAnswer.$invalid">Envoyer</button>
                            </div>

                        </form>

                    </div>

                    <!-- VUE RASPBERRY-->
                    <div ng-show="content.type=='raspberry'">
                        <table>
                            <tr>
                                <th ng-class="{'acc':(raspberry_sort=='_matricule'), 'dec':(raspberry_sort=='-_matricule')}" ng-click="raspberry_sort = raspberry_sort =='_matricule'?'-_matricule':'_matricule'">Matricule</th>
                                <th ng-class="{'acc':(raspberry_sort=='_startLocationTime'), 'dec':(raspberry_sort=='-_startLocationTime')}" ng-click="raspberry_sort = raspberry_sort =='_startLocationTime'?'-_startLocationTime':'_startLocationTime'">Début location</th>
                                <th ng-class="{'acc':(raspberry_sort=='_isOn'), 'dec':(raspberry_sort=='-_isOn')}" ng-click="raspberry_sort = raspberry_sort =='_isOn'?'-_isOn':'_isOn'">IsOn</th>
                                <th ng-class="{'acc':(raspberry_sort=='_pseudonym'), 'dec':(raspberry_sort=='-_pseudonym')}" ng-click="raspberry_sort = raspberry_sort =='_pseudonym'?'-_pseudonym':'_pseudonym'">utilisateur</th>
                            </tr>
                            <tr ng-repeat="raspberry in raspberries | orderBy: raspberry_sort">
                                <td>{[{raspberry._matricule}]}</td>
                                <td>{[{raspberry._startLocationTime}]}</td>
                                <td>{[{raspberry._isOn}]}</td>
                                <td>{[{raspberry._user._pseudonym}]}</td>
                            </tr>
                        </table>
                    </div>

                    <!-- VUE UTILISATEUR-->
                    <div ng-show="content.type=='utilisateur'">
                        <table>
                            <tr>
                                <th ng-class="{'acc':(utilisateur_sort=='_pseudonym'), 'dec':(utilisateur_sort=='-_pseudonym')}" ng-click="utilisateur_sort = utilisateur_sort =='_pseudonym'?'-_pseudonym':'_pseudonym'">Pseudo</th>
                                <th ng-class="{'acc':(utilisateur_sort=='_rank'), 'dec':(messagerie_sort=='-_rank')}" ng-click="messagerie_sort = messagerie_sort =='_rank'?'-_rank':'_rank'">Rank</th>
                                <th ng-class="{'acc':(utilisateur_sort=='_createTime'), 'dec':(messagerie_sort=='-_createTime')}" ng-click="messagerie_sort = messagerie_sort =='_createTime'?'-_createTime':'_createTime'">Date création</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="user in users | orderBy:messagerie_sort">
                                <td>{[{user._pseudonym}]}</td>
                                <td>{[{user._rank}]}</td>
                                <td>{[{user._createTime}]}</td>
                                <td  class="redirect" ng-click="redirect('./profil/'+user._id)">detail profil</td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
