<div class="annex">
    <div class="annex-content">
        <div class="annex-navigation">
            <ul>
                {% for section in sections %}
                    {% if section._active and section._inactive %}
                        <li class="active inactive">
                    {% elseif section._active %}
                        <li class="active">
                    {% elseif section._inactive %}
                        <li class="inactive">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{section._src}}">{{section._name}}</a>
                    </li>
                {% endfor %}
                <li><a class="return" href="/home"></a></li>
            </ul>
        </div>

        <section>
            <div class="loader"></div>
            <h1>{{ title }}</h1>
            <article class="scrollable">
                {% for paragraph in content %}
                    <h2> {{ paragraph.title }} </h2>
                    <p> {{ paragraph.text }} </p>
                    {% if paragraph.list %}
                        <ul>
                        {% for element in paragraph.list %}
                                <li> {{ element }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </article>
        </section>

    </div>
</div>
