<div ng-app="sensora">
    <communication-user></communication-user>
    <section id="communicationUser" ng-controller="CommunicationCtrl">
        <div id="alert" class="alert alert-dismissible col-md-12" role="alert" ng-class="communicationService.type" ng-show="communicationService.isShow">
                <button type="button" class="close" ng-click="communicationService.isShow=!communicationService.isShow"><span aria-hidden="true">&times;</span></button>
                <ul>
                <li ng-repeat="msg in communicationService.contenu">{{msg}}</li>

            </ul>
            {[{communicationService.contenu}]}
        </div>
    </section>
    <section id="connection" ng-controller="connectionCtrl">

        <div class="login-circle">
        </div>
        <div class="login">

            <form name="formConnexion" ng-submit="connexionUser()">

                <div class="element">
                    <input type="text" name="pseudo" ng-model="user.pseudo" placeholder="Pseudo" input-Directive required>
                    <span class="msgErreurForm needed-warning" ng-show="formConnexion.pseudo.$error.isEmpty">Le pseudo est obligatoire</span>
                    <span class="msgErreurForm needed-warning" ng-show="formConnexion.pseudo.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                    <span class="msgErreurForm needed-warning" ng-show="formConnexion.pseudo.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                </div>

                <div class="element">
                    <input type="password" name="mdp" ng-model="user.mdp" placeholder="Mot de passe" input-Directive required>
                    <span class="msgErreurForm needed-warning" ng-show="formConnexion.mdp.$error.isEmpty">Le pseudo est obligatoire</span>
                    <span class="msgErreurForm needed-warning" ng-show="formConnexion.mdp.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                    <span class="msgErreurForm needed-warning" ng-show="formConnexion.mdp.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                </div>

                <div class="toSubscription">
                    <button id="btn-connexion" type="submit" ng-disabled="formConnexion.$invalid">
                        Connexion
                    </button>

                    <a href="#SUBSCRIPTION#">Pas encore inscrit ?</a>

                </div>
            </form>

        </div>
        <a id="who" href="/home">Qu'est-ce que Sensora ?</a>

        <svg
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:cc="http://creativecommons.org/ns#"
           xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
           xmlns:svg="http://www.w3.org/2000/svg"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
           xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
           version="1.1"
           id="Layer_1"
           x="0px"
           y="0px"
           viewBox="0 0 841.9 595.3"
           enable-background="new 0 0 841.9 595.3"
           xml:space="preserve"
           inkscape:version="0.91 r13725"
           sodipodi:docname="logo2.svg"><metadata
             id="metadata3482"><rdf:RDF><cc:Work
                 rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
                   rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
             id="defs3480" /><sodipodi:namedview
             pagecolor="#ffffff"
             bordercolor="#666666"
             borderopacity="1"
             objecttolerance="10"
             gridtolerance="10"
             guidetolerance="10"
             inkscape:pageopacity="0"
             inkscape:pageshadow="2"
             inkscape:window-width="1920"
             inkscape:window-height="1025"
             id="namedview3478"
             showgrid="false"
             inkscape:zoom="1.4463296"
             inkscape:cx="321.37454"
             inkscape:cy="312.30875"
             inkscape:window-x="0"
             inkscape:window-y="27"
             inkscape:window-maximized="1"
             inkscape:current-layer="Layer_1" /><path
             d="m 199.52048,312.596 c 0,0 59.59727,-196.12315 291.81045,-207.85838 0,0 -40.76083,-84.718773 -273.90039,55.94332 C 187.7863,240.73777 199.52048,312.596 199.52048,312.596 Z"
             id="path3438"
             inkscape:connector-curvature="0"
             style="fill:#b2b2b2" /><g
             id="g3440"
             transform="matrix(1.5439706,0,0,1.6075668,-230.32095,-165.81587)"><path
               d="m 156.6,329.1 c 0,0 9,-2.1 24.3,-13.8 15.2,-11.8 33.6,-71.9 82.5,-105.5 0,0 -19.4,8.2 -35.3,19.4 0,0 135.3,-182 383.9,-77.6 0,0 -39.8,-1.3 -26.9,2.3 0,0 61,14.5 103,73.2 11.9,16.6 -27.1,32.5 -42.5,27.5 0,0 -50.8,180.9 -315.3,171.6 0,0 244.6,-13.4 284.3,-186.5 0,0 -104.1,-86.3 -196,-71.7 -104.8,16.1 -197.2,85.6 -216,155.5 -6,21.8 -30.5,25.1 -36,22.4 -5,-2.2 -11,-10.9 -10,-16.8 z"
               id="path3442"
               inkscape:connector-curvature="0"
               style="fill:#3c3c3b" /></g><g
             id="g3444"
             transform="matrix(1.5439706,0,0,1.6075668,-230.32095,-165.81587)"><path
               d="m 552,365.5 -5.1,-3.2 C 571.5,323.1 575.1,284.2 563.5,244.7 554,212.3 521,178.3 520.8,178.1 l 14.9,-2.4 c 0.8,0.8 23.7,18.1 34.3,48.4 9.8,27.9 17,90.1 -18,141.4 z"
               id="path3446"
               inkscape:connector-curvature="0"
               style="fill:#3c3c3b" /></g><g
             id="g3448"
             transform="matrix(1.5439706,0,0,1.6075668,-230.32095,-165.81587)"><path
               d="m 308.2,376.8 c -13.1,-13.2 -61.3,-75.9 -21.4,-167.4 0.8,-1.7 3,-2.3 4.7,-1.4 l 0,0 c 1.6,0.9 19.5,-7.4 18.3,-6 -57.4,69.7 -23.8,153.5 -0.2,173.9 0.3,1 -0.8,1.5 -1.4,0.9 z"
               id="path3450"
               inkscape:connector-curvature="0"
               style="fill:#3c3c3b" /></g><ellipse
             cx="277.18222"
             cy="257.45645"
             id="circle3452"
             rx="19.299633"
             ry="20.094585"
             style="fill:#3c3c3b" /><ellipse
             cx="192.88141"
             cy="397.63629"
             id="circle3454"
             rx="10.499001"
             ry="10.931455"
             style="fill:#3c3c3b" /><ellipse
             cx="305.90002"
             cy="464.99332"
             id="circle3456"
             rx="15.7485"
             ry="16.397181"
             style="fill:#3c3c3b" /><path
             stroke-miterlimit="10"
             d="m 315.16388,124.02842 c 0,0 -102.98284,189.21061 15.7485,391.76402"
             id="path3458"
             inkscape:connector-curvature="0"
             style="fill:none;stroke:#3c3c3b;stroke-width:6.30179119;stroke-miterlimit:10" /><g
             id="g3460"
             transform="matrix(1.5439706,0,0,1.6075668,-230.32095,-165.81587)"><path
               d="M 428.5,416.7 C 320,398.1 269.9,360.2 260,333.4 c -3.4,-9.2 -1.6,-20.4 3.1,-24.6 -0.1,1.9 0,0 0,0 -1.7,3.1 -2.9,15.3 0.1,23.4 9.6,26 62,63.4 169.1,81.8 l -3.8,2.7 z"
               id="path3462"
               inkscape:connector-curvature="0"
               style="fill:#3c3c3b" /></g>
               <!-- <ellipse class="iris-border"
             cx="431.42487"
             cy="284.46359"
             id="circle3464"
             rx="81.058456"
             ry="84.397255"
             style="fill:#2fac66" /> -->
             <path
             stroke-miterlimit="10"
             d="M 526.99665,99.432647 C 397.30312,135.6029 94.684873,368.86084 221.29046,440.39756"
             id="path3466"
             inkscape:connector-curvature="0"
             style="fill:none;stroke:#3c3c3b;stroke-width:6.30179119;stroke-miterlimit:10" /><text
             transform="matrix(1 0 0 1 343.9896 504)"
             display="none"
             id="text3468"><tspan
               x="0"
               y="0"
               display="inline"
               fill="#3C3C3B"
               font-family="'Roboto-Regular'"
               font-size="30"
               id="tspan3470">Senso</tspan><tspan
               x="83.8"
               y="0"
               display="inline"
               fill="#3C3C3B"
               font-family="'Roboto-Black'"
               font-size="30"
               id="tspan3472">Ward</tspan></text>
        <!-- <ellipse class="iris"
             cx="431.42487"
             cy="284.46359"
             id="circle3474"
             rx="27.945869"
             ry="29.09696"
             style="fill:#1d5c37" />
         <ellipse
             cx="492.72049"
             cy="223.69757"
             id="circle3476"
             rx="69.015488"
             ry="71.858238"
             style="fill:#fffffe" /> -->
         </svg>

    </section>

</div>
