#HEADER#
<div ng-app="sensora">
    <communication-user></communication-user>
    <section id="contact" ng-controller="contactCtrl">

        <ul class="left-menu">
            <li ng-class="{true:'active', false:''}[contact.type == 'compte']" ng-click="contact.type = 'compte'">Problème de compte</li>
            <li ng-class="{true:'active', false:''}[contact.type == 'administratif']" ng-click="contact.type = 'administratif'">Administratif</li>
            <li ng-class="{true:'active', false:''}[contact.type == 'produit']" ng-click="contact.type = 'produit'">Produit</li>
            <li ng-class="{true:'active', false:''}[contact.type == 'autre']" ng-click="contact.type = 'autre'">Autre</li>
        </ul>

        <div class="measures">
            <div class="content">
                <div class="sensora-box">
                    <form name="formContact" ng-submit="sendMessage()">
                        <own-input input-id="Email" input-model="contact.emailSource" input-form="formContact" input-type="email"></own-input>
                        <own-input input-id="Sujet" input-model="contact.sujet" input-form="formContact" input-type="text"></own-input>

                        <div class="element">
                            <textarea type="text" name="contenu" ng-model="contact.contenu" class="sensora-input" placeholder="Contenu du message" input-Directive required></textarea>
                            <span class="msgErreurForm needed-warning" ng-show="formContact.contenu.$error.isEmpty">Le contenu est obligatoire</span>
                            <span class="msgErreurForm needed-warning" ng-show="formContact.contenu.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                            <span class="msgErreurForm needed-warning" ng-show="formContact.contenu.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                        </div>

                        <div class="element">
                            <button class="sensora-button" type="submit" ng-disabled="formContact.$invalid">Envoyer</button>
                        </div>

                        {{errorSendEmail}}

                    </form>

                </div>
            </div>
        </div>

    </section>
</div>
