<div ng-app="sensora">
    <div class="sensora-home" id="fullpage">

<!------------------------------------------------------------- INTRODUCTION -->

<section class="section" id="section-intro">
    <div class="logo-container">
        <div class="logo-typo"></div>
    </div>

    <h2>Rencontrez Sensora, la balise du foyer</h2>
    <div class="arrow">
        <i class="material-icons">keyboard_arrow_down</i>
    </div>
</section>

<!---------------------------------------------------------------- AGITATION -->

<section class="section" id="section-problem">
    <div class="illustration-neocity"></div>
    <article class="sensora-article"><div class="relative-center">

            <div>
                <h2>Vie moderne, siège d'agitation.</h2>

                <p>
                    La vie est remplie de tracas, de délais à respecter,
                    d'exigences à satisfaire et de frustrations à affronter.
                    Dans notre vie de tous les jours, nous sommes accoutumés
                    au stress qui résulte de nos activités et l'affrontons
                    volontier pour atteindre nos objectifs.
                    Cependant le 21ième siècle et toutes les nouvelles
                    technologies qu'il apporte amènent une dimension
                    nouvelle à cette agitation.
                </p>

                <p><strong>
                    Chez Sensora, nous pensons que cette effervescence
                    devrait trouver frontière aux portes de votre foyer.
                </strong></p>

                <p>
                    La balise <strong>Sensoward</strong> se propose comme
                    première étape dans cette dynamique de protection et
                    vous propose d'observer de manière objective votre
                    lieu de vie.
                </p>
            </div>

    </div></article>
    <div class="arrow"><i class="material-icons">keyboard_arrow_down</i></div>
</section>

<!-------------------------------------------------------------------- DUNNO -->

<section class="section" id="section-illustrate">
    <article class="sensora-article"><div class="relative-center">

        <div class="text">
            <h3>2/3 des citoyens sont confrontés à des nuisances sonores dans la vie de tous les jours</h3>
            <div class="tired-picture"></div>
            <p>
                Avec comme effet direct une augmentation de la <span class="warning">fatigue</span>
                et du <span class="warning">stress</span>, des <span class="warning">pertes du sommeil,
                d'audition</span> voire même des <span class="warning">acouphènes</span>.
            </p>
        </div>

        <div class="comparison">
            <h4>La solution ?</h4><hr>
            <div class="content">

                <div class="option">
                    Contacter un expert qui analysera précisément votre lieu de vie.
                    La demande étant particulière, vous serez cependant amenés à payer
                    une facture élevée.
                </div>

                <div class="option">
                    Louer une Sensoward qui, pour un prix démocratique, analysera avec
                    précision les métriques de votre lieu de vie avant de les mettre
                    à votre disposition sur une interface web claire et précise.
                </div>

            </div>
        </div>

    </div></article>

    <div class="arrow"><i class="material-icons">keyboard_arrow_down</i></div>
</section>

<!-------------------------------------------------------------- EXPLANATION -->

<section class="section" id="section-explanation">
    <div class="illustration-neighborhood"></div>
    <article class="sensora-article">
        <div class="relative-center">

            <h2>Comment ça marche ?</h2>
            <div class="caption">Etape par etape</div>

            <div class="slider">
                <div class="slide" data-anchor="explanation-s1">
                    <p>
                        Rendez-vous dans la section <a href="/shop">magasin</a>
                        et composez en fonction de vos besoins et envies la
                        Sensoward et l'abonnement adéquats.

                        <br><br>

                        <sup>
                            Notez que les abonemments sont dégréssifs.
                        </sup>
                    </p>
                </div>
                <div class="slide" data-anchor="explanation-s2">
                    <p>
                        Une fois la balise commandée, patientez quelques jours
                        le temps que notre équipe se déplace jusqu'à votre
                        demeure où nous trouverons avec vous l'emplacement
                        idéal.
                    </p>
                 </div>
                <div class="slide" data-anchor="explanation-s3">
                    <p>
                        Visitez notre site où vous trouverez désormais une
                        interface de controle de la Sensoward.
                        Cette dernière se met automatiquement à jour et vous
                        propose en temps réel les métriques de votre quartier !
                    </p>
                </div>
            </div>

            <div class="mb-explanation">
                <p>
                    Rendez-vous dans la section <a href="/shop">magasin</a>
                    et composez en fonction de vos besoins et envies la
                    Sensoward et l'abonnement adéquats.

                    <br><br>

                    <sup>
                        Notez que les abonemments sont dégréssifs.
                    </sup>
                </p>
                <p>
                    Une fois la balise commandée, patientez quelques jours
                    le temps que notre équipe se déplace jusqu'à votre
                    demeure où nous trouverons avec vous l'emplacement
                    idéal.
                </p>
                <p>
                    Visitez notre site où vous trouverez désormais une
                    interface de controle de la Sensoward.
                    Cette dernière se met automatiquement à jour et vous
                    propose en temps réel les métriques de votre quartier !
                </p>
        </div>
    </div>

        <p class="footnote">
            N'hésitez pas à visiter la <a href="/annex/about">foire aux questions</a><br>
            où à nous <a href="/contact">contacter</a> pour tous problèmes !
        </p>
    </article>

</section>

<!------------------------------------------------------------------ FOOTER -->

<section class="footer section fp-auto-height">
    <div class="wrapper">

        <div class="lists">
            <ul class="info">
                <li><a href="/annex/about">A propos</a></li>
                <li><a href="/annex/about">FAQ</a></li>
                <li><a href="/annex/about">Documentation</a></li>
                <li><a href="/annex/about">Qui sommes-nous ?</a></li>
                <li><a href="{{ link_contact }}">Contact</a></li>
            </ul>

            <ul class="social">
                <li><a href="#"><div class="twitter"></div></a></li>
                <li><a href="#"><div class="facebook"></div></a></li>
            </ul>
        </div>

        <a href="http://www.ephec.be" target="_blank" class="ephec"></a>
        <div class="design">Design by Martin Vogeleer & Florian Indot</div>
        <div class="copyright">Sensora ©2016. All rights reserved.</div>

    </div>
</section>

<!------------------------------------------------------------------ THE END -->

    </div>
</div>
