
<div ng-app="sensora">
    <communication-user></communication-user>
    <section id="myRaspberry" ng-controller="myRaspberryCtrl">

        <ul class="left-menu measures-nav">
            <select ng-show="raspberries" ng-change="setCurrentRaspberry();" ng-model="nbCurrentRaspberry" ng-init="nbCurrentRaspberry = 0">
                <option ng-repeat="raspberry in raspberries" value="{[{$index}]}">{[{raspberry._matricule}]}</option>
            </select>
            <ul ng-show="currentRaspberry">
                <li ng-class="{'active':content.type == 'son'}" ng-click="showData('son')" ng-show="currentRaspberry._dataSound != null">
                    <a>Son</a>
                </li>
                <li ng-class="{'active':content.type == 'airQuality'}" ng-click="showData('airQuality')" ng-show="currentRaspberry._dataAirQuality != null">
                    <a>Air</a>
                </li>
                <li ng-class="{'active':content.type == 'carSpeed'}" ng-click="showData('carSpeed')" ng-show="currentRaspberry._dataCarSpeed != null">
                    <a>Radar</a>
                </li>
                <li ng-class="{'active':content.type == 'info'}" ng-click="content.type = 'info'">
                    <a>Info</a>
                </li>
            </ul>
            <div class="toggle">
                <i class="material-icons">reorder</i>
            </div>
        </ul>

        <div class="measures">
            <div class="content">
                <div class="sensora-box">
                    <div class="data" id="air" ng-show="content.type =='airQuality'"> Contenu du air</div>
                    <div class="data" id="radar" ng-show="content.type =='carSpeed'">
                        <div id="recherche">
                             <div class="zoneFiltreGlobal">
                                <div class="rechercheSimple">
                                    <select ng-change="changeFiltre()" name="filtre" ng-model="filtreTemps" ng-init="filtreTemps = 'allDatafilter'">
                                        <option value="allDatafilter">Toutée les données</option>
                                        <option value="minuteFilter">Moyenne par minutes</option>
                                        <option value="hourFilter">Moyenne par heure</option>
                                        <option value="dayFilter">Moyenne par jour</option>
                                        <option value="monthFilter">Moyenne par mois</option>
                                        <option value="yearFilter">Moyenne par année</option>
                                    </select>
                                    <div>
                                        <button id="showSlider" ng-class="{'active':showSlider}" ng-click="showSlider = !showSlider"><span class="flaticon-sliders"></span></button>
                                        <button id="showSearch" ng-class="{'active':showSearch}" ng-click="showSearch = !showSearch"><span class="flaticon-search"></span></button>
                                        <button id="showLimit" ng-class="{'active':showLimit}" ng-click="showLimit = !showLimit"><span class="flaticon-construction-barrier"></span></button>
                                    </div>
                                    <div class="pull-right">
                                        <button ng-click="content.form = 'chart'"><span class="flaticon-line"></span></button>
                                        <button ng-click="content.form = 'tab'"><span class="flaticon-symbols"></span></button>
                                    </div>
                                </div>
                                <div class="rechercheAvancee" ng-show="showSlider || showSearch || showLimit">
                                    <div class="row">
                                        <div class="rowRecherche zoneSlider slider" ng-show="showSlider">
                                            <rzslider
                                               rz-slider-model="slider.min"
                                               rz-slider-high="slider.max"
                                               rz-slider-options="slider.options">
                                            </rzslider>
                                        </div>
                                        <div class="rowRecherche zoneSearch" ng-show="showSearch">
                                            <select name="filtre" ng-model="recherche.type" ng-init="recherche.type='data'">
                                                <option value="data">Rechercher dans les données</option>
                                                <option value="time">Rechercher une date précise</option>
                                            </select>
                                            <input id="rechercheData" ng-show="recherche.type == 'data'" class="sensora-input" type="number" ng-model="search._decibel"></input>
                                            <input id="rechercheTime" ng-show="recherche.type == 'time'" class="sensora-input" type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="search._time">
                                            <div ng-show="recherche.type == 'data'">*fonctionne uniquement pour la vue <a ng-click="content.form ='tab'">tableau</a></div>
                                            <div ng-show="recherche.type == 'time'">TODO : recherche par temps</div>
                                        </div>
                                        <div class="rowRecherche zoneLimite" ng-show="showLimit">
                                            <label>Limite visuel : </label>
                                            <input class="sensora-input" type="number" ng-model="limite" placeholder="Limite Visuel"></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button id="actualise" ng-click="changeRange()"><span class="flaticon-actualize-arrows-couple-in-circle"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="content.form == 'chart'">
                            <canvas id="myChart-carSpeed"></canvas>
                        </div>
                        <div ng-show="content.form == 'tab'">
                            <table ng-show="currentRange">
                               <tr>
                                   <th ng-class="{'acc':(data_sort=='_speed'), 'dec':(data_sort=='-_speed')}" ng-click="data_sort = data_sort =='_speed'?'-_speed':'_speed'">Vitesse</th>
                                   <th ng-class="{'acc':(data_sort=='_time'), 'dec':(data_sort=='-_time')}" ng-click="data_sort = data_sort =='_time'?'-_time':'_time'">Temps</th>
                               </tr>
                               <tr ng-repeat="data in currentRange | orderBy:data_sort | filter : search | startFrom:currentPage*pageSize| limitTo : pageSize"  ng-init="data_sort=='_time'">
                                   <td>{[{data._speed }]}</td>
                                   <td>{[{data._time | date : 'yyyy-MM-dd HH:mm:ss'}]}</td>
                               </tr>
                           </table>
                           <div ng-show="currentRange">
                               <label for="nbElemPage">Nombre d'élément par page (max 50)</label>
                               <input id="nbElemPage" class="sensora-input" type="number" ng-model="pageSize" min="0" max="50"></input>
                               <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1;nbPage = currentPage+1">
                                    Précédent
                                </button>
                                <input class="sensora-input" ng-change="currentPage = nbPage-1" ng-model="nbPage"></input>/{[{numberOfPages()}]}
                                <button ng-disabled="currentPage >= currentRange.length/pageSize - 1" ng-click="currentPage=currentPage+1;nbPage = currentPage+1">
                                    Suivant
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="info" ng-show="content.type =='info'">
                        Id : {[{currentRaspberry._id}]}<br>
                        Matricule : {[{currentRaspberry._matricule}]}<br>
                        Is on : {[{currentRaspberry._isOn}]}<br>
                        Date location : {[{currentRaspberry._startLocationTime}]}<br>
                    </div>
                    <div class="data" id="son" ng-show="content.type =='son'">
                        <div id="recherche">
                             <div class="zoneFiltreGlobal">
                                <div class="rechercheSimple">
                                    <select ng-change="changeFiltre()" name="filtre" ng-model="filtreTemps" ng-init="filtreTemps = 'allDatafilter'">
                                        <option value="allDatafilter">Toutée les données</option>
                                        <option value="minuteFilter">Moyenne par minutes</option>
                                        <option value="hourFilter">Moyenne par heure</option>
                                        <option value="dayFilter">Moyenne par jour</option>
                                        <option value="monthFilter">Moyenne par mois</option>
                                        <option value="yearFilter">Moyenne par année</option>
                                    </select>
                                    <div>
                                        <button id="showSlider" ng-class="{'active':showSlider}" ng-click="showSlider = !showSlider"><span class="flaticon-sliders"></span></button>
                                        <button id="showSearch" ng-class="{'active':showSearch}" ng-click="showSearch = !showSearch"><span class="flaticon-search"></span></button>
                                        <button id="showLimit" ng-class="{'active':showLimit}" ng-click="showLimit = !showLimit"><span class="flaticon-construction-barrier"></span></button>
                                    </div>
                                    <div class="pull-right">
                                        <button ng-click="content.form = 'chart'"><span class="flaticon-line"></span></button>
                                        <button ng-click="content.form = 'tab'"><span class="flaticon-symbols"></span></button>
                                    </div>
                                </div>
                                <div class="rechercheAvancee" ng-show="showSlider || showSearch || showLimit">
                                    <div class="row">
                                        <div class="rowRecherche zoneSlider slider" ng-show="showSlider">
                                            <rzslider
                                               rz-slider-model="slider.min"
                                               rz-slider-high="slider.max"
                                               rz-slider-options="slider.options">
                                            </rzslider>
                                        </div>
                                        <div class="rowRecherche zoneSearch" ng-show="showSearch">
                                            <select name="filtre" ng-model="recherche.type" ng-init="recherche.type='data'">
                                                <option value="data">Rechercher dans les données</option>
                                                <option value="time">Rechercher une date précise</option>
                                            </select>
                                            <input id="rechercheData" ng-show="recherche.type == 'data'" class="sensora-input" type="number" ng-model="search._decibel"></input>
                                            <input id="rechercheTime" ng-show="recherche.type == 'time'" class="sensora-input" type="text" datetime="yyyy-MM-dd HH:mm:ss" ng-model="search._time">
                                            <div ng-show="recherche.type == 'data'">*fonctionne uniquement pour la vue <a ng-click="content.form ='tab'">tableau</a></div>
                                            <div ng-show="recherche.type == 'time'">TODO : recherche par temps</div>
                                        </div>
                                        <div class="rowRecherche zoneLimite" ng-show="showLimit">
                                            <label>Limite visuel : </label>
                                            <input class="sensora-input" type="number" ng-model="limite" placeholder="Limite Visuel"></input>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button id="actualise" ng-click="changeRange()"><span class="flaticon-actualize-arrows-couple-in-circle"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="content.form == 'chart'">
                            <canvas id="myChart-son"></canvas>
                        </div>
                        <div ng-show="content.form == 'tab'">
                            <table ng-show="currentRange">
                               <tr>
                                   <th ng-class="{'acc':(data_sort=='_decibel'), 'dec':(data_sort=='-_decibel')}" ng-click="data_sort = data_sort =='_decibel'?'-_decibel':'_decibel'">Décibel</th>
                                   <th ng-class="{'acc':(data_sort=='_time'), 'dec':(data_sort=='-_time')}" ng-click="data_sort = data_sort =='_time'?'-_time':'_time'">Temps</th>
                               </tr>
                               <tr ng-repeat="data in currentRange | orderBy:data_sort | filter : search | startFrom:currentPage*pageSize| limitTo : pageSize"  ng-init="data_sort=='_time'">
                                   <td>{[{data._decibel }]}</td>
                                   <td>{[{data._time | date : 'yyyy-MM-dd HH:mm:ss'}]}</td>
                               </tr>
                           </table>
                           <div ng-show="currentRange">
                                   <label for="nbElemPage">Nombre d'élément par page (max 50)</label>
                                   <input id="nbElemPage" class="sensora-input" type="number" ng-model="pageSize" min="0" max="50"></input>
                               <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1;nbPage = currentPage+1">
                                    Précédent
                                </button>
                                <input class="sensora-input" ng-change="currentPage = nbPage-1" ng-model="nbPage"></input>/{[{numberOfPages()}]}
                                <button ng-disabled="currentPage >= currentRange.length/pageSize - 1" ng-click="currentPage=currentPage+1;nbPage = currentPage+1">
                                    Suivant
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
