<div class="element">
    <input id="{{id}}" name="{{id}}" type="{{type}}" ng-model="model" class="sensora-input" placeholder="{{id}}" required input-Directive>
    <ul class="contentMsgErreur">
        <li class="needed-warning" ng-show="form[id].$error.isEmpty">Le {{id}} est obligatoire</li>
        <li class="needed-warning" ng-show="form[id].$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</li>
        <li class="needed-warning" ng-show="form[id].$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</li>
    </ul>
</div>
