#HEADER#

<div ng-app="sensora">

    <section id="profil" ng-controller="profilCtrl">

        <ul class="left-menu measures-nav">
            <li ng-class="{active:(content.type=='donneeConnection')}" ng-click="content.type='donneeConnection'">Identification</li>
            <li ng-class="{active:(content.type=='donneePersonnel')}" ng-click="content.type='donneePersonnel'">Données personnelles</li>
            <li ng-class="{active:(content.type=='donneePaiement')}" ng-click="content.type='donneePaiement'">Méthode de paiment</li>

            <li id="save" ng-click="">Sauvegarder</li>
        </ul>

        <div class="measures">
            <div class="content">
                <div class="sensora-box">
                    <form name="formProfil" ng-submit="saveUser()">
                        <div ng-show="content.type=='donneeConnection'">
                            <div class="element">
                                <label for="_pseudonym">Pseudo</label>

                                <input type="text" name="_pseudonym" ng-model="user._pseudonym" input-Directive required>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._pseudonym.$error.isEmpty">Le pseudo est obligatoire</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._pseudonym.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._pseudonym.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                            </div>
                            <div class="element">
                                <label for="_password">Mot de passe</label>

                                <input type="text" name="_password" ng-model="user._password" input-Directive>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._password.$error.isEmpty">Le mot de passe est obligatoire</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._password.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._password.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                            </div>
                            <div class="element" ng-show="user._password">
                                <label for="_conf_password">Confirmation mot de passe</label>

                                <input type="text" name="_conf_password" ng-model="user._conf_password" ng-pattern="user._password" input-Directive>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._conf_password.$error.isEmpty">La confirmation est obligatoire</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._conf_password.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._conf_password.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                            </div>
                        </div>

                        <div ng-show="content.type=='donneePersonnel'">
                            <div class="element">
                                <label for="_lastname">Nom</label>

                                <input type="text" name="_lastname" ng-model="user._lastname" input-Directive required>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._lastname.$error.isEmpty">Le nom est obligatoire</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._lastname.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._lastname.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                            </div>

                            <div class="element">
                                <label for="_firstname">Prénom</label>

                                <input type="text" name="_firstname" ng-model="user._firstname" input-Directive required>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._firstname.$error.isEmpty">Le prénom est obligatoire</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._firstname.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._firstname.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                            </div>

                            <div class="element">
                                <label for="_email">Email</label>

                                <input type="text" name="_email" ng-model="user._email" input-Directive required>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._email.$error.isEmpty">L'email est obligatoire</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._email.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._email.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                            </div>

                            <div class="element">
                                <label for="_numberPhone">Téléphone</label>

                                <input type="text" name="_numberPhone" ng-model="user._numberPhone" input-Directive>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._numberPhone.$error.isEmpty">Le pseudo est obligatoire</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._numberPhone.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                <span class="msgErreurForm needed-warning" ng-show="formProfil._numberPhone.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                            </div>

                            <div class="element">
                                <h4>Adresse livraison</h4>
                                <div class="element">
                                    <label for="_street">Rue</label>

                                    <input type="text" name="_street" ng-model="user._adresse._street" input-Directive required>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._street.$error.isEmpty">La rue est obligatoire</span>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._street.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._street.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                                </div>

                                <div class="element">
                                    <label for="_numberStreet">Numéro</label>

                                    <input type="text" name="_numberStreet" ng-model="user._adresse._numberStreet" input-Directive required>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._numberStreet.$error.isEmpty">Le numéro est obligatoire</span>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._numberStreet.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._numberStreet.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                                </div>

                                <div class="element">
                                    <label for="_zipCode">Code postal</label>

                                    <input type="text" name="_zipCode" ng-model="user._adresse._zipCode" input-Directive required>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._zipCode.$error.isEmpty">Le code postal est obligatoire</span>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._zipCode.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._zipCode.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                                </div>

                                <div class="element">
                                    <label for="_locality">Localité</label>

                                    <input type="text" name="_locality" ng-model="user._adresse._locality" input-Directive required>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._locality.$error.isEmpty">La localité est obligatoire</span>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._locality.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._locality.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                                </div>

                                <div class="element">
                                    <label for="_country">Pays</label>

                                    <input type="text" name="_country" ng-model="user._adresse._country" input-Directive required>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._country.$error.isEmpty">Le pays est obligatoire</span>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._country.$error.haveSpecialChar">Les caractères spéciaux sont interdits : <>\&|#(§^{}()"',</span>
                                    <span class="msgErreurForm needed-warning" ng-show="formProfil._country.$error.haveSpecialWord">Certains mots sont interdits : select, update, insert, delete, table, drop</span>
                                </div>
                            </div>
                        </div>

                        <div ng-show="content.type=='donneePaiement'">

                            <div class="coming-soon"></div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>
</div>
