<div id="content">
<div id="right-content">

    <div class="header">
        <a href="/account/login">
            <i class="material-icons">keyboard_arrow_left</i>
        </a>
        <h1>Sign Up</h1>
    </div>

    <form action="/account/subscribe/filled" method="post">
        <fieldset><div class="wrapper">
            <input id="email" name="email" type="email" placeholder="Your email" required>
            <i class="material-icons">email</i>
        </div></fieldset>

        <fieldset><div class="wrapper">
            <input id="username" name="username" type="text" placeholder="Your username" required>
            <i class="material-icons">account_circle</i>
        </div></fieldset>

        <fieldset><div class="wrapper">
            <input id="pass" name="pass" type="password" placeholder="Your password" required>
            <i class="material-icons">vpn_key</i>
        </div></fieldset>

        <fieldset><div class="wrapper">
            <input id="pass-repeat" name="pass-repeat" type="password" placeholder="Your password again" required>
            <i class="material-icons">fingerprint</i>
        </div></fieldset>

        <fieldset>
            <input name="submit" type="submit" value="Sign Up">

            <div class="error">#ERROR#</div>
        </fieldset>
    </form>

</div>
</div>
