*
{
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------- VARIABLES -------------------------------- */
/* -------------------------------------------------------------------------- */

// ---------------------------------------------------------------------- COLORS

@leaf: #2fad66; // MAIN COLOR
@leaf_light: #cff09e;

@carbon: #1c140d; // SECONDARY COLOR
@ash: #3c3c3b;

@warning: #a94442;

// TODO

@fontInfoColor : #d9edf7;
@writeInfoColor : #31708f;

@fontErreurColor : #f2dede;
@writeErreurColor : #a94442;

@fontSuccessColor:#dff0d8;
@writeSuccessColor:#3c763d;

@recherche1Color : rgb(202,235,226,.5);
@recherche2Color : rgb(24,94,75,.5);
@recherche3Color : rgb(0,218,157,.5);

// ----------------------------------------------------------------------- PATHS

@img_path: '../img';

// ------------------------------------------------------------------ DIMENSIONS

/* -------------------------------------------------------------------------- */
/* --------------------------------- MIXINS --------------------------------- */
/* -------------------------------------------------------------------------- */

.cover(@image)
{
    width: 100%;

    background-position: center;
    background-size: cover;
    background-image: url('@{img_path}/@{image}');
}

.cover-min(@image)
{
    .cover(@image);
    height: 333px;
}

.cover-medium(@image)
{
    .cover(@image);
    height: 500px;
}

/* -------------------------------------------------------------------------- */
/* ----------------------------- GENERAL RULES ------------------------------ */
/* -------------------------------------------------------------------------- */

/* This only works with JavaScript, if it's not present, don't show loader */
.no-js #loader
{
    display: none;
}

.js #loader
{
    display: block; position: absolute; left: 100px; top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('@{img_path}/preloader.gif') center no-repeat #fff;
}

::selection
{
    color: white;
    background-color: @leaf;
}

body
{
    font-family: 'Bree Serif', serif;

    overflow: hidden;

    background-color: white;

    @media only screen and (max-width: 1000px)
    {
        overflow-y: scroll;
    }
}

a
{
    color: @leaf;

    text-decoration: none;
}

.arrow
{
    position: absolute;
    bottom: 30px;
    left: 50%;

    display: inline-block;

    margin: auto;

    cursor: pointer;

    transform: translateX(-50%);

    i
    {
        font-size: 200%;

        transition: .2s ease;

        color: @leaf;

        &:hover
        {
            transition: .2s ease;
            transform: scale(1.5);

            text-shadow: 0 0 5px rgba(0, 0, 0, .2);
        }
    }
}

.msgerrorForm
{
    margin-top: 5px;

    color: @warning;
}

input[type='number'],
input[type='email'],
input[type='password'],
input[type='text']
{
    -webkit-transition: border .3s;
       -moz-transition: border .3s;
         -o-transition: border .3s;
            transition: border .3s;

    background-color: transparent;
}

.btn-perso
{
    color: @leaf;
    background-color: @ash;
    &:hover
    {
        color: @ash;
        background-color: @leaf;
        cursor: pointer;
    }
}

.text-little
{
    font-size: smaller;
    font-style: italic;
}

[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after
{
    margin-left: 0 !important;
}

table
{
    width: 100%;
    text-align: center;
    th
    {
        background-color: @leaf !important;
        cursor: pointer;
        color: white !important;

    }

    td,
    th
    {
        height: 34px;
    }


    tbody tr:nth-child(odd)
    {
        background-color: @leaf_light;

    }
}

.logo
{
    display: inline-block;

    transition: .3s ease;

    opacity: 1.0;

    &:hover
    {
        transition: .3s ease;
        transform: scale(1.1);

        .iris
        {
            fill: #00444d !important;
        }

        .iris-border
        {
            fill: #00b4cc !important;
        }
    }
}

.logo svg
{
    position: relative;
    top: -35px;

    width: auto;
    height: 120px;
    margin-bottom: -90px;
}

.pull-left
{
    float: left !important;
}

.pull-right
{
    float: right !important;
}

.acc {
    &:after { content:' \25B2'; color: #777; font-size:8px; position:absolute; margin: 3px 8px; }
}
.dec {
    &:after { content:' \25BC'; color: #777; font-size:8px;position:absolute; margin: 3px 8px;}
}

@media only screen and (max-width: 1000px)
{
    .arrow
    {
        left: initial;
        transform: none;
        position: static;
    }

    .slider
    {
        position: static;
    }

    .relative-center, .sensora-article
    {
        position: static !important;
    }

    .illustration
    {
        position: static !important;

        &:before
        {
            content: '';
            display: table;
        }
    }

    section
    {
        padding-top: 60px;
    }

    .sensora-home article
    {
        overflow-y: visible;
        height: auto !important;
    }
}

/* -------------------------------------------------------------------------- */
/* --------------------------------- HEADER --------------------------------- */
/* -------------------------------------------------------------------------- */

@headerHeight: 45px;

.sensora-header
{
    font-weight: bold;

    position: fixed;
    z-index: 1000;
    top: 0;

    width: 100%;
    height: @headerHeight;

     border-bottom: 1px solid @leaf;
    background-color: white;

    .center
    {
        position: relative;
        left: 50%;

        display: inline-block;

        height: @headerHeight;

        transform: translateX(-50%);
    }

    a:not(.logo)
    {
        position: relative;
        top: -5px;

        margin: 0 15px;

        vertical-align: middle;
        text-decoration: none;

        opacity: .7;
        color: @carbon;

        &:hover
        {
            opacity: 1.0;
            color: @leaf;
        }
    }

    .disconnect
    {
        display: block;
        float: right;
        height: 50px;

        font-weight: bold;

        line-height: 50px; // ?
        vertical-align: middle;
    }
}

.hamburger-circle
{
    position: fixed;
    z-index: 2000;
    top: 10px;
    right: 10px;

    padding: 5px;

    color: @leaf;
    border-radius: 50%;

    display: none;
}

.hamburger
{
    i
    {
        font-size: 200%;

        transform: translateY(2%);
    }
}

.sensora-label
{
    font-weight: bold;

    display: block;

    margin: 10px 0;

    opacity: .6;
}

.sensora-input
{
    padding: 5px;

    text-align: center;

    opacity: .6;
    border: solid 1px rgba(0, 0, 0, .0);
    border-bottom: solid 2px @leaf;

    &:focus,
    &:active
    {
        opacity: 1.0;
        border: dashed 1px @leaf;
        border-bottom: solid 2px @leaf;
        outline: none;
    }
}

.sensora-button
{
    display: block;

    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;

    cursor: pointer;

    color: white;
    border: none;
    background-color: @ash;

    &:hover
    {
        transition: .2s ease;

        background-color: @leaf;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    }
}

.needed-warning
{
    font-size: 80%;

    position: relative;

    width: 100%;
    padding: 10px;

    opacity: .5;
    color: red;
}

.scrollable
{
    padding-right: 15px;
    overflow-y: scroll;

    &::-webkit-scrollbar
    {
        width: 6px;
    }

    &::-webkit-scrollbar-track
    {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: @leaf;
    }

    &::-webkit-scrollbar-thumb:window-inactive
    {
        opacity: .6;
        background: transparent;
    }
}

.gu-mirror
{
    border: 1px dashed @leaf;
}

@media only screen and (max-width: 1000px)
{
    .hamburger-circle
    {
        display: block;
    }

    .sensora-header
    {
        height: 100vh;
        width: 100vw;

        border: none;

        display: none;

        .center
        {
            top: 50%;
            height: auto;

            display: flex;
            flex-direction: column;

            text-align: center;
            font-size: 150%;

            transform: translate(-50%, -50%);
        }

        a
        {
            padding: 15px 0;
        }

        .logo
        {
            display: none;
        }

        a.disconnect
        {
            position: absolute;
            bottom: 10%;
            top: initial;
            left: 50%;

            margin: 0;

            font-size: 250%;

            transform: translateX(-50%);
        }
    }

}

/* -------------------------------------------------------------------------- */
/* ---------------------------------- HOME ---------------------------------- */
/* -------------------------------------------------------------------------- */

.section
{
    h2
    {
        font-size: 310%;

        margin-top: 0;
    }

    p,
    a
    {
        font-size: 100%;
    }
}

.text
{
    width: 70%;
    padding: 0 25px;
}

.sensora-article
{
    margin-top: 40px + 333px;

    width: 100%;
}

.sensora-article .relative-center
{
    display: flex;

    padding: 50px 25px;

    justify-content: space-around;
}

.sensora-home
{
    text-align: center;

    color: #545454;

    p
    {
        font-size: 120%;
    }

    h1
    {
        font-size: 300%;

        color: @leaf;
    }

    article
    {
        height: 550px;
    }

    .illustration
    {
        position: absolute;
        z-index: -50;
        top: 40px;

        width: 100%;
        height: 333px;

        background-position: center;
        background-size: cover;

        @media only screen and (max-width: 1000px)
        {
            position: static !important;
            height: 200px;
        }
    }

    .illustration-neighborhood
    {
        background-image: url('../img/Neighborhood.jpg');

        .illustration;
    }

    .illustration-neocity
    {
        background-image: url('../img/neocity.jpg');

        .illustration;
    }

    .illustration-fall
    {
        background-image: url('../img/fall.jpg');

        .illustration;
    }

    .relative-center
    {
        width: 60%;
    }
}

@media only screen and (max-width: 1000px)
{
    .sensora-home
    {
        .relative-center
        {
            top: initial;
            left: initial;
            width: 100%;

            margin: 0;

            transform: none;
        }

        .sensora-article
        {
            height: auto;
            margin-top: 20px;
        }
    }

    .section
    {
        h2
        {
            margin-top: 0 !important;
            font-size: 150%;
        }
    }
}

// ---------------------------------------------------------------- INTRODUCTION

#section-intro
{
    h2
    {
        font-size: 200%;
        font-weight: normal;
    }
}

.logo-container
{
    width: 100vw;
    margin: 100px 0;
}

.logo-typo
{
    position: relative;

    width: 720px;
    height: 250px;
    margin: auto;

    background-image: url('../img/Typo.png');
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1000px)
{
    .logo-typo
    {
        width: 75%;
        height: 100px;

        background-size: contain;
    }

    #section-intro
    {
        h2
        {
            width: 80%;
            margin: auto;
            font-size: 140%;
        }
    }
}

// ------------------------------------------------------------------ ILLUSTRATE

#section-illustrate
{
    .relative-center
    {
        display: block;
    }

    .sensora-article
    {
        display: block;
        margin-top: 0;

        .text
        {
            margin: auto;
        }
    }

    h3
    {
        font-size: 140%;
    }

    .warning
    {
        color: orange;
    }

    .comparison
    {
        h4
        {
            margin-top: 50px;
            font-size: 140%;
        }

        width: 70%;
        margin: 30px auto;

        hr
        {
            background-color: @leaf;
            border-color: @leaf;
            margin-bottom: 30px;
        }

        .content
        {
            display: flex;
            justify-content: space-between;
        }

        .option
        {
            width: 45%;
        }
    }
}

.tired-picture
{
    margin: 30px auto;

    height: 96px;
    width: 96px;

    background-image: url('@{img_path}/tired.png');
    background-size: contain;
}

// ----------------------------------------------------------------- EXPLANATION

#section-explanation
{
    article
    {
        position: relative;
        top: 373px;
    }

    ul
    {
        display: flex;

        list-style-type: none;
    }

    h2
    {
        margin-top: -250px;
        font-size: 150%;
        margin-bottom: 10px;
    }

    .relative-center
    {
        display: block;
    }

    .caption
    {
        font-size: 100%;
        margin-bottom: 30px;
    }

    .explanation
    {
        margin: auto;
        padding-left: 0;

        width: 420px;
    }

    .explanation-tier
    {
        h4
        {
            margin: 0;

            height: 56px;
            line-height: 56px;

            color: @leaf;
            font-size: 200%;
        }

        p
        {
            display: none;
        }
    }

    .active
    {
        p
        {
            display: block !important;
        }
    }

    .slider
    {
        position: absolute;
        left: 0;
        height: 350px !important;

        .fp-tableCell
        {
            padding: 10px 0 !important;
            height: 350px !important;
        }
    }

    .slide p
    {
        position: static;

        padding: 0 100px;

        font-size: 140%;

        transform: none;
    }

    .fp-controlArrow
    {
        border-width: 25px 25px 25px;
    }

    .fp-controlArrow.fp-prev
    {
        border-right-color: lighten(@leaf, 30%);
    }

    .fp-controlArrow.fp-next
    {
        border-left-color: lighten(@leaf, 30%);
    }

    p
    {
        position: absolute;
        bottom: 0;
        left: 50%;

        transform: translateX(-50%);
    }

    .mb-explanation
    {
        display: none;

        p
        {
            position: static;
            transform: none;
        }
    }
}


@media only screen and (max-width: 1000px)
{
    #section-explanation
    {
        .slider
        {
            display: none;
        }

        .mb-explanation
        {
            display: block;
        }

        .footnote
        {
            transform: none;
            padding: 0 30px;
            position: static;
        }
    }
}

// ---------------------------------------------------------------------- FOOTER

.footer
{
    font-family: sans-serif;

    padding: 20px;

    background-color: @carbon;

    a:hover
    {
        color: white;
    }

    .lists
    {
        font-weight: bold;

        width: 80%;
        margin: auto;
        padding: 0 50px;
    }

    ul
    {
        display: flex;

        margin: 0;
        padding: 10px 50px;

        list-style-type: none;

        text-align: left;

        justify-content: space-between;
    }

    .design
    {
        color: lighten(@ash, 30%);
    }

    .copyright,
    .design
    {
        font-weight: normal;

        padding: 3px;
    }

    .ephec
    {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        background-image: url('@{img_path}/ephec_min.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 70px;
        width: 100px;
    }

    .copyright
    {
        font-size: 90%;
    }
}

.coming-soon
{
    height: 500px;
        width: 100%;

        background-position: center;
        background-size: cover;
        background-image: url('../img/coming_soon_green.jpg');

}

@media only screen and (max-width: 1000px)
{
    .footer
    {
        .lists
        {
            padding: 10px;
        }

        ul
        {
            padding: 10px 0;

            flex-direction: column;

            text-align: center;
        }

        ul li
        {
            padding: 5px 0;
        }

        .design
        {
            padding: 0 30px;
        }
    }
}

/* -------------------------------------------------------------------------- */
/* ------------------------------- WHO WHE ARE ------------------------------ */
/* -------------------------------------------------------------------------- */

.student-logo
{
    width: 128px;
    height: 128px;
    margin: auto;

    background-image: url('../img/graduate.png');
    background-repeat: no-repeat;
}

.physics-logo
{
    width: 128px;
    height: 128px;
    margin: auto;

    background-image: url('../img/physics.png');
    background-repeat: no-repeat;
}

// ------------------------------------------------------------------ CONNECTION

.relative-center
{
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.full-content
{
    overflow: hidden;

    width: 100vw;
    height: 100vh;

    background-color: @leaf;
}

#connection
{
    .full-content;
    svg
    {
        position: absolute;
        z-index: 5;
        top: 43.3333%;
        left: 50%;

        height: 520px;
        margin-top: @headerHeight * 1.7;

        transform: translate(-50%, -50%);
    }

    .login
    {
        position: absolute;
        z-index: 100;
        top: 50%;
        left: 50%;

        margin-top: @headerHeight - 10px;

        transform: translate(-50%, -50%);
        text-align: center;

        label
        {
            .sensora-label;
        }

        input
        {
            width: 80%;
            margin-top: 15px;

            .sensora-input;
        }

        .toSubscription
        {
            font-weight: bold;

            width: 100%;

            a
            {
                font-size: 80%;

                display: inline-block;

                margin: auto;
                margin-top: 10px;

                opacity: .5;
                border-bottom: 2px dashed @leaf;

                &:hover
                {
                    opacity: 1.0;
                }
            }
        }

        button
        {
            width: 100% !important;
            margin: auto;
            margin-top: 20px;

            .sensora-button;
        }
    }

    .login-circle
    {
        overflow: hidden;

        width: 400px;
        height: 380px;

        border-radius: 50%;
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);

        .relative-center;
    }

    #who
    {
        font-size: x-large;

        position: absolute;
        top: 90%;
        left: 50%;

        padding: 10px;

        transition: .2s ease;
        transform: translate(-50%,-50%);

        color: white;

        &:hover
        {
            transition: .2s ease;

            border-bottom: 2px solid white;
        }
    }
}

// ----------------------------------------------------------------- INSCRIPTION

#inscription
{
    font-weight: bold;

    text-align: center;

    background-image: url('../img/hot-air-balloon.jpg');
    background-repeat: repeat;
    background-size: cover;

    .full-content;

    .inscription-container
    {
        position: absolute;
        top: 55%;
        right: 10%;

        width: 400px;
        padding: 30px 15px;

        transform: translateY(-50%);

        border-radius: 3px;
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);

        .title
        {
            position: relative;
            left: 50%;

            width: 200px;
            height: 200px;
            margin-top: -100px - 30px;

            transform: translateX(-50%);

            color: white;
            border-radius: 50%;
            background-color: @carbon;
            box-shadow: 0 0 20px rgba(0, 0, 0, .3);

            h1
            {
                line-height: 200px;

                display: inline-block;

                margin: 0;
            }
        }
    }

    .element
    {
        font-size: 80%;

        margin: 20px 0;
    }

    label
    {
        .sensora-label;
    }

    input
    {
        width: 80%;

        .sensora-input;
    }

    .toConfirm
    {
        display: flex;

        margin: 15px 0;
        padding: 0 5%;

        .element
        {
            width: 50%;
            margin: 0;

            label
            {
                height: 30%;
            }

            input
            {
                height: auto;
            }
        }
    }

    button
    {
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 15px;

        .sensora-button;
    }
}

// ------------------------------------------------------------------------ DATA

@navWidth : 250px;

.left-menu
{
    font-weight: bold;

    position: relative;

    float: left;

    width: @navWidth;
    height: 100vh;
    margin: 0;
    padding: 40px 0 15px 0;
    text-align: center;

    list-style-type: none;

    color: white;
    background-color: @leaf;

    ul{
        font-weight: bold;

        width: @navWidth;
        margin: 0;
        padding: 15px 0 15px 0;

        list-style-type: none;

        color: white;
        background-color: @leaf;

    }
    li
    {
        height: auto;
        line-height: 35px;
        vertical-align: middle;
        width: 88%;

        margin: 15px 15px;
        padding: 0 20px;

        border: 1px dashed rgba(255, 255, 255, .5);

        &.noBorder
        {
            border: none;
        }

        &:hover
        {
            cursor: pointer;
            transition: .2s ease;

            color: @leaf;
            background-color: white;
        }

        &.active
        {
            color: @leaf;
            background-color: white;

            a{
                    color: @leaf;
            }
        }
    }

    select{
        isplay: inline-block;

        margin: 10px 0;
        padding: 10px;

        margin-top: 20px;

        border: none;

        background-color: @leaf;
        color: white;

        border-bottom: 1px solid white;
    }

    a{
        color:white;
    }

    .button-icon
    {
        display: none;
    }
}

.toggle
{
    width: 35px;
    position: absolute;
    bottom: 10px;
    right: 15px;

    &:hover
    {
        cursor: pointer;
    }

    i
    {
        font-size: 220%;
    }
}

@graph-content-margin : 150px;

.measures
{
    position: absolute;
    z-index: -5;

    float: left;
    overflow: hidden;

    width: 100%;
    height: 100vh;
    padding-left: @navWidth;

    select[name='filtre']
    {
        display: inline-block;

        margin: 10px 0;
        padding: 10px;

        border: none;

        background-color: @leaf;
        color: white;
    }

    .content
    {
        width: 100%;
        height: 100vh;
        padding: @navWidth/2 - 40px;

        .sensora-box
        {
            overflow-y: scroll;
            padding: 40px;
            height: 100%;

            border: 1px dashed rgba(0, 0, 0, .2);
            border-radius: 5px;
            background-color: white;
        }
    }

    .graph
    {
        width: 80%;
    }

    #myChart
    {
        display: block;

        width: 100% !important;
        margin: auto;
    }

    // TEMPORAIRE
    .data
    {
        .tmp
        {
            display: flex;

            justify-content: space-between;
        }

        button
        {
            padding: 10px 15px;

            color: white;
            border: none;
            background-color: @leaf;

            &:hover
            {
                cursor: pointer;

                background-color: orange;
                box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            }
        }
    }
}

.contentMenu
{
    margin-top: 0;
    padding: 5px 0 20px 0;

    background-color: white;

    list-style-type: none;
    //border-bottom: 1px solid @carbon;

    li
    {
        display: inline;

        padding: 10px 20px;

        cursor: pointer;

        &:hover,
        &.active
        {
            a
            {
                color: white;
            }
            background-color: @leaf;
        }
    }
}

// -------------------------------------------------------------- ADMINISTRATION

section#administration
{
    color : #545454;

    #contenuMessage
    {
        padding: 15px;

        text-align: center;

        background-color: @leaf_light;
    }

    .element
    {
        margin-bottom: 20px;
    }

    textarea
    {
        width: 100% !important;

        text-align: left;
    }

    .answer
    {
        font-weight: bold;

        &:hover
        {
            cursor: pointer;
        }

        &.answerYet
        {
            color: @writeSuccessColor;
            &:hover
            {
                background-color: @fontSuccessColor;
            }
        }

        &.answerNot
        {
            color: @writeErreurColor;
            &:hover
            {
                background-color: @fontErreurColor;
            }
        }
    }
}


// --------------------------------------------------------------------- CONTACT

section#contact
{
    .element
    {
        margin-bottom: 20px;

        text-align: center;
    }

    textarea
    {
        width: 100%;

        text-align: left !important;
    }
}

// ------------------------------------------------------------------------ SHOP

section#shop
{
    width: 100%;
    height: 100vh;
    color : #545454;

    ul{
        list-style-type: none;
    }
    .colonne
    {
        position: relative;

        float: left;

        height: 100vh;

        &.colonne-sensoward
        {
            width: 60%;
            background-color: @leaf_light;
        }

        &.colonne-modules
        {
            width: 20%;


        }

        &.colonne-prix
        {
            width: 20%;
        }
    }

    .btn-group
    {
        text-align: center;

        div
        {
            width: 50px;
            height: 50px;
            color: white;
            background-color: @leaf;
            display: inline-block;
        }

        &.special
        {
            margin-right: 60px;
        }
    }

    .btn
    {
        background-color: @leaf;
        color: white;
        cursor: pointer;
        line-height: 50px; // ?
        vertical-align: middle;
        text-align : center;

        &:hover{
            background-color: orange;

            &.noClick
            {
                background-color: @leaf;
                cursor: auto;
            }
        }

        &.btn-delete
        {
            color: @fontErreurColor;

            &:hover{
                background-color: @writeErreurColor;
            }
        }

        &.btn-connection
        {
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        &.btn-corner
        {
            position: absolute;
            line-height: 25px;
            width: 25px;
            right: 0;
        }
    }


    .etape
    {
        width: 100%;
        margin-top: 24px;

        &.ng-hide,&.ng-hide-remove
        {
            transition: .5s ease-out;
        }

    }

    .sensoward
    {
        width: 500px;
        height: 500px;
        margin: auto;

        border: 1px solid @leaf;

        .header-sensoward
        {
            height: 30%;

            background-color: @leaf;
            text-align: center;

            svg
            {
                height: 100%;
            }
        }

        .containerVertical
        {
            height: 70%;
            background-color: white;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            .module
            {
                position: relative;

                height: 130px;
                width: 130px;
                line-height: 130px;
                margin: 15px;
            }

            .msg{
                text-align: center;
                margin: auto;
            }
        }
    }

    #modules
    {
        overflow-y: scroll;
        .module
        {
            margin-bottom: 20px;
        }
    }

    .containerVertical
    {
        width: 100%;
        height: 80vh;
    }

    .module
    {
        line-height: 150px;

        width: 150px;
        margin: auto;

        text-align: center;

        border: 1px dashed @leaf;
        background-color: white;

        [class^='flaticon-']:before,
        [class*=' flaticon-']:before,
        [class^='flaticon-']:after,
        [class*=' flaticon-']:after
        {
            font-size: 40px;
        }

        &:hover
        {
            cursor: pointer;

            color: orange;
            border-color: orange;
        }
    }

    .colonne-sensoward,
    .colonne-prix
    {
        h3
        {
            position: relative;
        }
    }

    .colonne-sensoward
    {
        .delete
        {
            float: right;
            background-color: @fontErreurColor;
            color: @writeErreurColor;

        }

        .btn-delete
        {
            [class^='flaticon-']:before,
            [class*=' flaticon-']:before,
            [class^='flaticon-']:after,
            [class*=' flaticon-']:after
            {
                font-size: 15px !important;
            }
        }
    }

    h3
    {
        margin: 0 0 20px 0;
        padding: 20px 0;

        text-align: center;

        border-bottom: 1px dashed @leaf;
    }

    .grille
    {
        height: 100vh;

        .element
        {
            width: 50%;
            height: 42.5%;
            float: left;

            &.color
            {
                background-color: @leaf_light;
            }
        }
    }

    .presentationSensoward
    {
        padding: 20px;
        .sensoward
        {
            height: 200px !important;
            width: 200px !important;
        }

        .col-md-6
        {
            width: 50%;
        }
    }

    .presentationModules
    {
        padding: 20px;
        background-color: @leaf_light;
        margin: auto;
        text-align: center;

        div{
            margin: auto;
            display: inline-block;
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    .detailModule
    {
        text-align: center;

    }

    .item{
        cursor: pointer;

        &.active
        {
            color: orange;
        }

        .sous-item
        {

        }
    }


}

// ---------------------------------------------------------------------- Profil

#save
{
    position: absolute;
    bottom: 30px;
    text-align: center;
    color: #545454;
    background-color: white;
    border: none;

    &:hover
    {
        color: white;
        background-color: orange;
        box-shadow: 0 0 15px rgba(0, 0, 0, .3);
    }
}

form[name='formProfil']
{
    .element
    {
        padding: 10px;
        margin: 10px 0;
    }


    input
    {
        width: 75%;
        padding: 5px;

        outline: none;
        border: none;
        border-bottom: 1px solid @leaf;
    }

    label
    {
        display: inline-block;
        width: 20%;
    }
}

// TEMP
table
{
    padding: 15px 0;
    color: #545454;//white;
}

#showSlider
{
    &.active{
        border-bottom: 5px solid @recherche1Color !important;
    }
}

#showSearch
{
    &.active{
        border-bottom: 5px solid @recherche2Color !important;
    }
}

#showLimit
{
    &.active{
        border-bottom: 5px solid @recherche3Color !important;
    }
}

.rechercheSimple
{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;

    select{
        height: 43px;
        margin : 0 !important;
    }
}
.rechercheAvancee
{

    background-color: white;

    #actualise
    {
        width: 100%;
    }

    .slider{
        width : 100%;
    }



    .rowRecherche
    {
        height: 100px;
        padding : 15px;

        &.zoneSlider
        {
            border-left: solid 10px @recherche1Color;
        }

        &.zoneSearch
        {
            border-left: solid 10px @recherche2Color;
        }

        &.zoneLimite
        {
            border-left: solid 10px @recherche3Color;
        }
    }
}

canvas{
    margin-top : 15px;
}

a{
    cursor:pointer;
}
//-------------------------------------------------------------communicationUser

#communicationUser
{
    position: absolute;
    width: 100%;
    z-index: 5;
    margin-top: 20px;
    padding: 10px;
    text-align: center;

    &.success
    {
        background-color: @fontSuccessColor;
        color : @writeSuccessColor;
    }

    &.erreur
    {
        background-color: @fontErreurColor;
        color : @writeErreurColor;
    }

    &.info
    {
        background-color: @fontInfoColor;
        color : @writeInfoColor;
    }

    button{
        position: absolute;
        top: 20px;
        right: 20px;

        margin: auto;
        padding: 5px;

        cursor: pointer;

        color: white;
        border: none;
        background-color: @ash;

        &:hover
        {
            transition: .2s ease;
            color: @writeErreurColor;
            box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        }
    }

    ul{
        list-style-type: none;
    }

}

// --------------------------------------------------------------------- ANNEXES

.annex-content
{
    height: 90vh;

    width: 1200px;
    margin: 5vh auto;

    color: #545454;

    .loader
    {
        position: absolute;
        height: 90%;
        width: 40%;
        background: url('@{img_path}/preloader.gif') center no-repeat #fff;
    }

    section
    {
        height: 100%;
        width: 50%;
        overflow-y: hidden;
        padding-left: 20px;
    }

    article
    {
        margin-top: 20px;

        height: 80%;
    }

    h1
    {
        margin: 0;

        font-size: 400%;
        text-align: center;
        color: #545454;

        padding-bottom: 15px;
        border-bottom: 1px solid @leaf;

        &:after
        {
            content: '•';
            font-size: 50%;
            display: block;
            color: @leaf;
        }
    }

    h3
    {
        font-size: 100%;
    }
}

.annex-navigation
{
    float: left;
    height: 100%;
    width: 25%;

    ul
    {
        position: relative;

        padding: 15px 0;
        border-right: 2px solid @leaf;

        width: 100%;
        height: 100%;
        margin: 0;
    }

    li
    {
        transition: .3s ease;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;

        padding-right: 25px;
        margin: 20px 0;

        text-align: right;

        list-style-type: none;

        // Links & links hover
        a
        {
            padding: 10px;
            color: lighten(@leaf, 30%);

            &:hover
            {
                color: @leaf;
            }
        }

        &.active a
        {
            color: @leaf;
        }

        &.inactive a
        {
            color: #545454;

            &:hover
            {
                cursor: default;
            }
        }

        // Triangle effect
        &:after
        {
            content: '';

            display: inline-block;
            vertical-align: middle;
            margin-right: -15px;

            border-top: 0px solid transparent;
            border-bottom: 0px solid transparent;
            border-left: 0px solid transparent;
            border-right: 0px solid @leaf;

            transition: .3s ease;
        }

        &.active:after
        {
            margin-right: -25px;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid transparent;
            border-right: 15px solid @leaf;

            transition: .3s ease;
        }

        &.inactive:after
        {
            content: '';

            display: inline-block;
            vertical-align: middle;
            margin-right: -15px;

            border-top: 0px solid transparent;
            border-bottom: 0px solid transparent;
            border-left: 0px solid transparent;
            border-right: 0px solid @leaf;

            transition: .3s ease;
        }

        &:not(:last-of-type):hover:after
        {
            content: '';

            display: inline-block;
            vertical-align: middle;
            margin-right: -25px;

            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid transparent;
            border-right: 15px solid @leaf;

            transition: .3s ease;
        }

        &.inactive:hover:after
        {
            content: '';

            display: inline-block;
            vertical-align: middle;
            margin-right: -15px;

            border-top: 0px solid transparent;
            border-bottom: 0px solid transparent;
            border-left: 0px solid transparent;
            border-right: 0px solid @leaf;

            transition: .3s ease;
        }

        &:not(:last-of-type):hover
        {
            transition: .3s ease;
        }

        &:last-of-type a
        {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 25px;
            width: 135px;
            height: 42px;

            background-size: cover;
            background-image: url('../img/Typo.png');
        }
    }
}

//-------------------------------------------------------------- Mail Connection

#mailConnection
{
    h2
    {
        margin-top: 0;
        padding-bottom: 30px;

        text-align: center;
        font-size: 200%;

        border-bottom: 1px solid #545454;
    }

    fieldset
    {
        border: 0;
    }

    label
    {
        display: inline-block;
        width: 30%;
    }

    input:not([type="submit"])
    {
        width: 65%;

        border: 0;
        border-bottom: 1px solid #545454;

        padding: 5px;

        outline: none;
    }

    input[type="submit"]
    {
        cursor: pointer;

        width: 100%;

        margin-top: 30px;
        padding: 10px;

        border: none;

        transition: .2s ease;

        &:hover
        {
            background-color: @leaf;
            color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, .2);
            transition: .2s ease;
        }
    }
}

#mails
{
    display: none;

    ul
    {
        margin: 0;
        list-style-type: none;
    }

    li
    {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }

    li:nth-of-type(odd)
    {
        background-color: @leaf;
        color: white;
    }

    li:nth-of-type(even)
    {
        color: #545454;
    }
}
