    /*
    Flaticon icon font: Flaticon
    Creation date: 06/12/2016 14:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-actualize-arrows-couple-in-circle:before { content: "\f100"; }
.flaticon-answer-email-symbol:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-arrows-1:before { content: "\f103"; }
.flaticon-arrows-2:before { content: "\f104"; }
.flaticon-arrows-3:before { content: "\f105"; }
.flaticon-arrows-4:before { content: "\f106"; }
.flaticon-arrows-5:before { content: "\f107"; }
.flaticon-business:before { content: "\f108"; }
.flaticon-car-speedometer:before { content: "\f109"; }
.flaticon-close-cross:before { content: "\f10a"; }
.flaticon-computer-slider-tool:before { content: "\f10b"; }
.flaticon-construction-barrier:before { content: "\f10c"; }
.flaticon-copy-file:before { content: "\f10d"; }
.flaticon-delete-photo:before { content: "\f10e"; }
.flaticon-formspring-spiral-logo:before { content: "\f10f"; }
.flaticon-line:before { content: "\f110"; }
.flaticon-line-1:before { content: "\f111"; }
.flaticon-people:before { content: "\f112"; }
.flaticon-plus:before { content: "\f113"; }
.flaticon-radio-microphone:before { content: "\f114"; }
.flaticon-search:before { content: "\f115"; }
.flaticon-shapes:before { content: "\f116"; }
.flaticon-sliders:before { content: "\f117"; }
.flaticon-solar-energy:before { content: "\f118"; }
.flaticon-square:before { content: "\f119"; }
.flaticon-symbols:before { content: "\f11a"; }
    
    $font-Flaticon-actualize-arrows-couple-in-circle: "\f100";
    $font-Flaticon-answer-email-symbol: "\f101";
    $font-Flaticon-arrows: "\f102";
    $font-Flaticon-arrows-1: "\f103";
    $font-Flaticon-arrows-2: "\f104";
    $font-Flaticon-arrows-3: "\f105";
    $font-Flaticon-arrows-4: "\f106";
    $font-Flaticon-arrows-5: "\f107";
    $font-Flaticon-business: "\f108";
    $font-Flaticon-car-speedometer: "\f109";
    $font-Flaticon-close-cross: "\f10a";
    $font-Flaticon-computer-slider-tool: "\f10b";
    $font-Flaticon-construction-barrier: "\f10c";
    $font-Flaticon-copy-file: "\f10d";
    $font-Flaticon-delete-photo: "\f10e";
    $font-Flaticon-formspring-spiral-logo: "\f10f";
    $font-Flaticon-line: "\f110";
    $font-Flaticon-line-1: "\f111";
    $font-Flaticon-people: "\f112";
    $font-Flaticon-plus: "\f113";
    $font-Flaticon-radio-microphone: "\f114";
    $font-Flaticon-search: "\f115";
    $font-Flaticon-shapes: "\f116";
    $font-Flaticon-sliders: "\f117";
    $font-Flaticon-solar-energy: "\f118";
    $font-Flaticon-square: "\f119";
    $font-Flaticon-symbols: "\f11a";