	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/12/2016 14:53
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-actualize-arrows-couple-in-circle:before { content: "\f100"; }
.flaticon-answer-email-symbol:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-arrows-1:before { content: "\f103"; }
.flaticon-arrows-2:before { content: "\f104"; }
.flaticon-arrows-3:before { content: "\f105"; }
.flaticon-arrows-4:before { content: "\f106"; }
.flaticon-arrows-5:before { content: "\f107"; }
.flaticon-business:before { content: "\f108"; }
.flaticon-car-speedometer:before { content: "\f109"; }
.flaticon-close-cross:before { content: "\f10a"; }
.flaticon-computer-slider-tool:before { content: "\f10b"; }
.flaticon-construction-barrier:before { content: "\f10c"; }
.flaticon-copy-file:before { content: "\f10d"; }
.flaticon-delete-photo:before { content: "\f10e"; }
.flaticon-formspring-spiral-logo:before { content: "\f10f"; }
.flaticon-line:before { content: "\f110"; }
.flaticon-line-1:before { content: "\f111"; }
.flaticon-people:before { content: "\f112"; }
.flaticon-plus:before { content: "\f113"; }
.flaticon-radio-microphone:before { content: "\f114"; }
.flaticon-search:before { content: "\f115"; }
.flaticon-shapes:before { content: "\f116"; }
.flaticon-sliders:before { content: "\f117"; }
.flaticon-solar-energy:before { content: "\f118"; }
.flaticon-square:before { content: "\f119"; }
.flaticon-symbols:before { content: "\f11a"; }