<div class="error-page"><div class="wrapper">
    <h1>Error {{ error }}</h1>

    <p>{{ message }}</p>

    <div class="code-wrapper">
        <h2>Stack trace :</h2>
        <pre>{{ stacktrace }}</pre>
    </div>

    <div class="footer">
        <a href='{{ referer }}' class="footer-link">Back</a>
        <a href='{{ report }}' class="footer-link">Report</a>
        <a href='{{ config }}' class="footer-link">Config</a>
    </div>
</div></div>
