<!DOCTYPE html>
<html lang="{{ lang }}">

    <head>
        <meta charset="{{ charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">

        {% for icon in icons %}
            <link rel="{{ icon.name }}" sizes="{{ icon.size }}x{{ icon.size }}" href="{{ icon.file }}" />
        {% endfor %}
        <!-- <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://sens.oragelac.com/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://sens.oragelac.com/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://sens.oragelac.com/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://sens.oragelac.com/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://sens.oragelac.com/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://sens.oragelac.com/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://sens.oragelac.com/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://sens.oragelac.com/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="http://sens.oragelac.com/favicon-196x196.png" sizes="196x196" />
        <link rel="icon" type="image/png" href="http://sens.oragelac.com/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/png" href="http://sens.oragelac.com/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="http://sens.oragelac.com/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="http://sens.oragelac.com/favicon-128.png" sizes="128x128" />
        <meta name="application-name" content="Sensora"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="http://sens.oragelac.com/mstile-144x144.png" />
        <meta name="msapplication-square70x70logo" content="http://sens.oragelac.com/mstile-70x70.png" />
        <meta name="msapplication-square150x150logo" content="http://sens.oragelac.com/mstile-150x150.png" />
        <meta name="msapplication-wide310x150logo" content="http://sens.oragelac.com/mstile-310x150.png" />
        <meta name="msapplication-square310x310logo" content="http://sens.oragelac.com/mstile-310x310.png" /> -->

        {% for file in css %}
            <link href="{{ file }}" rel="stylesheet" type="text/css">
        {% endfor %}
    </head>

    <body>
        <div class="se-pre-con"></div>
        <div class="hamburger-circle">
            <div class="hamburger">
                <i class="material-icons">dehaze</i>
            </div>
        </div>

        {% include( page_header ) ignore missing %}
        {% include( page_content ) %}
        {% include( page_footer ) ignore missing %}

        {% for file in js %}
            <script src="{{ file }}"></script>
        {% endfor %}
    </body>
</html>
